<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
  <div fxFlex="80%" fxFlexAlign="center">
    <div class="container" class="mat-elevation-z4" fxFlexAlign="center">
      <div class="info-event" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <img class="image-event" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Foto do evento">
        <div fxFlex="40%" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="95%" fxFlexAlign="center">
            <div class="date-event" fxLayout="column">
              <div>NOV</div>
              <div>12</div>
            </div>
            <div class="name-event">
              <h1>Retiro das mulheres</h1>
            </div>
            <div class="organizer-event">
              <p>Organizado por: Associação Sul-Paranaense</p>
            </div>
            <div class="value-event">
              <p>R$25 – R$35</p>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
        <div fxFlex>
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </div>
        <div fxFlex="28%" fxFlexAlign="end">
          <button fxFlex mat-raised-button color="primary">Inscrever</button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="column" class="content-event">
        <div class="title-event">
          Retiro das mulheres
        </div>
        <div>
          Sobre este evento
        </div>
        <div class="description-event">
          Fala, família!
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="organizer-description-event">
        <p>Organizador: Associação Sul-Paranaense</p>
      </div>
    </div>
  </div>
</div>
