<mat-sidenav fxLayout="column" #sidenavRight mode="side" align="end" class="sidenav-right mat-elevation-z4" (keydown.esc)="closeSidenav()" [class.mat-drawer-opened]="sidenavRight.opened" [class.mat-drawer-closed]="!sidenavRight.opened">
    <button mat-icon-button type="button" matTooltip="Fechar" (click)="closeSidenav()">
        <mat-icon>clear</mat-icon>
    </button>
    <div fxFlex fxFlexAlign="center">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav>

<div class="page-container mat-elevation-z2" fxLayoutAlign="center">
    <div fxFlex="95%">
        <div class="margin-top-small" fxLayout="row" fxLayoutAlign="space-between">
            <h2 class="title" *ngIf="!searchButton">Lista de Tesoureiros</h2>
            <mat-form-field *ngIf="searchButton" fxFlex>
                <input matInput placeholder="Pesquisar..." (keyup)="search$.next($event.target.value)" (blur)="search$.next($event.target.value)">
            </mat-form-field>
            <div class="buttons" fxLayoutAlign="start center">
                <button mat-icon-button (click)="searchButton = !searchButton">
                <mat-icon aria-label="Pesquisar Tesoureiro">search</mat-icon>
              </button>
                <!-- <button mat-icon-button>
                <mat-icon aria-label="Filtrar lista de tesoureiro">filter_list</mat-icon>
              </button> -->
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex>
            <div class="header">
                <mat-list>
                    <mat-list-item>
                        <h3 matLine fxLayout="row">
                            <span fxFlex="40%">Nome do tesoureiro</span>
                            <div fxLayout="row" fxFlex>
                                <span fxFlex="50%">Igreja</span>
                                <span fxFlex fxFlexAlign="center">Cargo</span>
                            </div>
                        </h3>
                    </mat-list-item>
                </mat-list>
                <mat-divider></mat-divider>
            </div>
            <div class="conteiner" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [scrollWindow]="false">
                <mat-accordion>
                    <div *ngFor="let treasurer of (treasurers$ | async ); index as i">
                        <mat-expansion-panel hideToggle *ngIf="i <= showList">
                            <mat-expansion-panel-header>
                                <mat-panel-title fxFlex="38%">
                                    {{ treasurer.name }}
                                </mat-panel-title>
                                <mat-panel-description fxLayout="row" fxFlex>
                                    <span fxFlex="50%">
                                {{ treasurer.church.name }}
                            </span>
                                    <span fxFlex fxFlexAlign="center">
                                {{ treasurer.functionName }}
                            </span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-list>
                                <h3 matSubheader>Informações do Tesoureiro</h3>
                                <mat-list-item fxLayout="row">
                                    <div fxLayout="column" fxFlex matLine>
                                        <span class="text-bold">Email: </span>
                                        <p> {{ treasurer.email || "Não Informado" }} </p>
                                    </div>
                                    <div fxLayout="column" fxFlex matLine>
                                        <span class="text-bold">Endereço: </span>
                                        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
                                            <p> {{ treasurer.address || "Não Informado" }} {{ ", " + treasurer.addressComplement || "" }} </p>
                                            <p>
                                                <span class="text-bold">CEP: </span>
                                                <span> {{ treasurer.cep || "Não Informado" }} </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxFlex matLine>
                                        <span class="text-bold">Telefone: </span>
                                        <div fxLayout="row" *ngFor="let phone of treasurer.phones">
                                            <p>{{ phone.type }}: {{ phone.number + ' '}} </p> <p *ngIf="phone.type === 'Celular'"> - Serviço(s) Utilizado(s): {{ phone.isWhatsapp ? 'Whatsapp, ' : ''}} {{ phone.isTelegram ? 'Telegram': ''}}</p>
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxFlex matLine>
                                        <span class="text-bold">Melhor Contato: </span>
                                        <p> {{ treasurer.contact || "Não Informado" }} </p>
                                    </div>
                                    <div fxLayout="column" fxFlex matLine>
                                        <span class="text-bold">Tempo no Cargo: </span>
                                        <p *ngIf="treasurer.dateRegister != null && treasurer.dateRegister != undefined; else dateIsNull">
                                            {{ treasurer.dateRegister | date: "dd/MM/yyyy" }} {{ " - Aproximadamente " + treasurer.dateRegisterFormatted }}
                                        </p>
                                        <ng-template #dateIsNull>
                                            <p>Não Informado</p>
                                        </ng-template>
                                    </div>
                                </mat-list-item>
                            </mat-list>
                            <mat-action-row>
                                <button mat-button color="warn" matTooltip="Excluir Tesoureiro" (click)="remove([treasurer])">REMOVER</button>
                                <button mat-button color="primary" matTooltip="Editar Tesoureiro" (click)="editTreasurer(treasurer)">EDITAR</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                    </div>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>
<button mat-fab color="primary" class="mat-fab-right" routerLink="./novo" (click)="openSidenav()"><mat-icon aria-label="Adicionar tesoureiro">add</mat-icon></button>