<div fxLayout="column" fxLayoutGap="15px">
    <h4 class="text-grey">Avaliar Requisitos</h4>
    <mat-divider></mat-divider>
    <div class="text-requirement-color" fxLayout="row" fxLayoutAlign="start" *ngFor="let requirement of requirementsAvaliation">
        <div fxFlex fxFlex.gt-sm="20%">{{ requirement.name }}</div>
        <div fxLayout="row" fxFlex fxFlex.gt-sm="20%">
            <div style="padding: 5px">0</div>
            <mat-slide-toggle (change)="updateCheck($event.checked, requirement.id)" [checked]="checkIfChecked(requirement.id)"></mat-slide-toggle>
            <div style="padding: 5px">{{ requirement.score }}</div>
        </div>
    </div>
    <div class="result-requirement" fxLayout="row" fxLayoutAlign="start">
        <span fxFlex fxFlex.gt-sm="21%">TOTAL</span>
        <span fxFlex fxFlex.gt-sm="21%">{{ sumTotalOfRequirements() }}</span>
    </div>
</div>