
.color-finalized {
  background-color: #91c957;
}

.color-assessing {
  background-color: #f1aa40;
}

.color-waiting {
  background-color: #F93434;
}


.table-container {
  position: relative;
  max-height: 580px;
  overflow: auto;
}
