.icon {
    color: gray;
}

.icon-disabled {
    color: #E2E2E2;
}

.title {
    font-size: 16px;
}

.expanded {
    background-color: #F5F5F5;
}

.expanded-title {
    background-color: #EBEBEB !important;
}