<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end start">
        <button mat-stroked-button (click)="expandedObservations()" color="warn">
          Observações
        <mat-icon>info_outline</mat-icon>
    </button>
    </div>
    <mat-accordion *ngIf="expanded">
        <mat-expansion-panel expanded="true" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-description>
                    <span fxFlex fxFlex.gt-sm="60%">Descrição</span>
                    <span fxFlex fxFlex.gt-sm="60%">Requisiro</span>
                    <span fxFlex fxFlex.gt-sm="60%">Referência</span>
                    <span fxFlex fxFlex.gt-sm="10%">Status</span>
                    <span fxFlex style="text-align: right" fxFlex.gt-sm="20%">Ação</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <ng-container *ngIf="observations !== null && observations !== undefined && observations.length !== 0; else notObservations">
                <div *ngFor="let observation of observations" fxLayout="row" fxLayoutGap="5px">
                    <div fxFlex fxFlex.gt-sm="60%">
                        {{ observation.description }}
                    </div>
                    <div fxFlex fxFlex.gt-sm="60%">
                      {{ observation.requirement.id > 0 ? observation.requirement.name : setEnumWeek(observation.idReferenceEvaliation)}}</div>
                  <div fxFlex fxFlex.gt-sm="60%">
                    {{ setEnumWeek(observation.idReferenceEvaliation) }}
                </div>
                    <div fxFlex fxFlex.gt-sm="10%">
                        {{ observation.status === 2 ? 'Finalizada' : 'Aberta' }}
                    </div>
                    <div fxFlex fxFlex.gt-sm="20%">
                        <ng-template [Feature]="50">
                            <button mat-button style="background-color: #fff!important; color: #E8702A" matTooltip="Finalizar observação" (click)="finalizeObsevation(observation.id)">FINALIZAR</button>
                        </ng-template>
                    </div>
                </div>
            </ng-container>
            <ng-template #notObservations>
                <div fxLayout="row" fxLayoutAlign="center">
                    <p>Não existem observações em aberto nesta igreja!</p>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>
