<div>
    <button mat-icon-button class="uk-text-white"
        uk-toggle="target: .toggle-animation-queued; animation: uk-animation-fade; queued: true; duration: 300">
        <mat-icon>account_circle</mat-icon>
    </button>

    <div class="toggle-animation-queued profile" hidden>

        <div class="uk-margin-small-top uk-text-center information">
            <mat-icon class="uk-text-large">account_circle</mat-icon>
            <span class="name"> {{ user?.name }} </span>
            <span class="uk-text-small"> {{user?.email}} </span>
        </div>

        <div class="unity">
            <ul>
                <a>
                    <li>ANC - Associação Norte Catarinense</li>
                </a>
                <a>
                    <li>AplaC - Educação</li>
                </a>
            </ul>
        </div>

        <div class="uk-margin-small-top uk-margin-small-bottom uk-text-center">
            <button (click)="logout()" mat-stroked-button color="primary">
                Sair
            </button>
        </div>

    </div>
</div>