.process {
    color: #fff;
    width: calc(((90% - 0.8px) * 1) + 0px);
    padding: 10px 0px;
    text-align: center;
    height: 120px;
    margin: 10px;
}

//mat-grid-tile{
//    margin-top: calc(((12.5% - 0.75px) + 10px) * 1)!important;
//}

.process:hover {
    cursor: pointer;
}

.process-1 {
    border: 1px solid #b2b2b2;
    //background-color: #67daff!important;
}

.process-2 {
    background-color: #03a9f4!important;
}

.process-3 {
    background-color: #76d275!important;
}

.process-4 {
    background-color: #f44336!important;
}

.process-5 {
    background-color: #ffc947!important;
}

.process-6 {
    background-color: #ff9800!important;
}

.process-7 {
    background-color: #c66900!important;
}

.process-8 {
    background-color: #607d8b!important;
}

.process-9 {
    background-color: #a30000!important;
}

.process-count {
    font-weight: 500;
    font-size: 45px;
    margin: 0;
}

.process-description {
    font-size: 15px;
    font-weight: 200;
    margin: 0;
}

.sidenav-right {
    width: 99%;
    overflow-x: hidden;
}

.page-container {
    height: calc(100vh - 92px);
}

.conteiner {
    overflow: auto;
    max-height: calc(100vh - 100px);
}

.box-align{
    padding: 10px 10px 0;
}

@media screen and (max-width: 600px) {
    .box-align{
        padding: 10px 25px 0;
    }
  }
