<!-- <form [formGroup]="paymentForm">

  <mat-form-field>
    <input matInput placeholder="Address" formControlName="secondCtrl" required>
  </mat-form-field>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</form> -->

<form fxLayout="row" fxLayoutAlign="center center" [formGroup]="paymentForm">
  <div class="mat-elevation-z1 form" fxLayout="column" fxFlex="80%" fxFlexAlign="center" fxLayoutGap="10px">
    <div fxFlex fxFlexAlign="center">
      <h2 class="title">Pagamento</h2>
    </div>
    <!-- <mat-button-toggle-group [vertical]="true" #group="matButtonToggleGroup">
      <mat-button-toggle value="billet" aria-label="Payment Billet">
        Boleto
        <mat-icon>receipt</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="credit-card" aria-label="Payment Credit Card">
        Cartão de Crédito
        <mat-icon>credit_card</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group> -->
    <!-- <div class="example-selected-value">Selected value: {{group.value}}</div> -->
    <app-registration-payment-card [card]="paymentForm.value"></app-registration-payment-card>
    <mat-form-field appearance="outline">
      <mat-label>Número do Cartão</mat-label>
      <input matInput formControlName="number" placeholder="0000 0000 0000 0000" mask="0000 0000 0000 0000" required>
      <mat-error *ngIf="paymentForm.get('number').hasError('required')">O número do cartão é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nome do Titular</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="paymentForm.get('name').hasError('required')">O nome do titular do cartão é obrigatório
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <mat-form-field appearance="outline">
        <mat-label>CCV</mat-label>
        <input matInput type="number" formControlName="ccv" placeholder="000" required>
      </mat-form-field>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Data de Validade</mat-label>
        <input matInput [matDatepicker]="dp" placeholder="00/0000" formControlName="expirationDate">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-stroked-button matStepperNext color="primary">Continuar</button>
    </div>
  </div>
</form>
