<div class="header">
    <div class="container">
        <div class="title">
            <span>Configurações</span>
        </div>
        <div>
            <a routerLink="/configuracoes/campos" routerLinkActive="actived">Campos adicionais</a>
            <a routerLink="/configuracoes/listas" routerLinkActive="actived">Lista</a>
            <a routerLink="/configuracoes/contas" routerLinkActive="actived">Contas Bancarias</a>
            <a routerLink="/configuracoes/contas-cielo" routerLinkActive="actived">Contas Cielo</a>
        </div>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>