<div class="header">
    <div class="container">
        <div class="title">
            <span>Meus Eventos</span>
        </div>
        <div>
            <a routerLink="/eventos" routerLinkActive="actived">Eventos</a>
            <a routerLink="/inscricoes" routerLinkActive="actived">Novo Evento</a>
        </div>
    </div>
</div>
<div class="container">


    <div class="uk-padding-large uk-text-center" *ngIf="events?.length === 0 || events === null">
        <span> Você não tem eventos criado. </span>
    </div>

    <div class="uk-margin-medium-top" *ngIf="events?.length > 0">

        <div class="card-events" *ngFor="let c of events">

            <div class="uk-padding-small">
                <div class="uk-text-center">
                    <span class="uk-text-large"> {{ c?.name }} </span>
                </div>

                <div class="uk-margin-small-top">
                    <span class="uk-text-uppercase uk-text-small uk-text-muted">Data de inscrição</span>
                    <span class="uk-flex uk-flex-row uk-flex-middle">
                        <i uk-icon="calendar" class="uk-margin-small-right"></i>
                        <span class="uk-margin-small-right uk-text-small">
                            {{ c?.registrationDateBegin | date:'dd/MM/yyyy hh:mm' }} -
                            {{ c?.registrationDateEnd | date:'dd/MM/yyyy hh:mm' }}
                        </span>
                    </span>
                </div>

                <div class="uk-margin-small-top">
                    <span class="uk-text-uppercase uk-text-small uk-text-muted">Data do evento</span>
                    <span class="uk-flex uk-flex-row uk-flex-middle">
                        <i uk-icon="calendar" class="uk-margin-small-right"></i>
                        <span class="uk-margin-small-right uk-text-small">
                            {{ c?.realizationDateBegin | date:'dd/MM/yyyy hh:mm' }} -
                            {{ c?.realizationDateBegin | date:'dd/MM/yyyy hh:mm' }}
                        </span>
                    </span>
                </div>

                <div class="uk-margin-small-top">
                    <span class="uk-text-uppercase uk-text-small uk-text-muted">Data do evento</span>
                    <span class="uk-flex uk-flex-row uk-flex-middle">
                        <i uk-icon="location" class="uk-margin-small-right"></i>
                        <span class="uk-margin-small-right uk-text-small">
                            {{ c?.street }} - {{ c?.number }} -
                            {{ c?.neighborhood }} - {{ c?.city }}
                        </span>
                    </span>
                </div>

            </div>

            <div class="uk-text-center uk-flex uk-flex-row uk-padding-small">
                <a class="uk-flex-1" uk-tooltip="Link do Evento" [routerLink]="['/',c.aliasName,c.id]" target="_blach"
                    uk-icon="link"></a>
                <!-- <a class="uk-flex-1" uk-icon="pencil"></a> -->
                <a class="uk-flex-1" uk-tooltip="Apagar Evento" (click)="remove(c?.id)" uk-icon="trash"></a>
            </div>
        </div>

    </div>

</div>