.container-login{
  background-image: url('../../../../../assets/img/boxed-bg/polygon/bg/7.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: .8;
}

.form-login {
   margin-bottom: 10px;
}
  
mat-card-header {
  text-align: center;
}
  
mat-card {
  background-color: white;
  width: 300px;
}