<div [ngStyle.xl]="{'width.vw': 30}" [ngStyle.lg]="{'width.vw': 40}" [ngStyle.md]="{'width.vw': 60}" [ngStyle.sm]="{'width.vw': 70}"
  [ngStyle.xs]="{'width.vw': 100}">
    <button mat-icon-button type="button" matTooltip="Fechar" (click)="close()">
        <mat-icon>clear</mat-icon>
    </button>
    <div fxLayout="column" fxLayoutAlign="start" class="container beautiful-scroll-x">
        <mat-horizontal-stepper linear>
            <mat-step label="Pessoal" [stepControl]="formPersonal">
                <form [formGroup]="formPersonal" fxLayout="column">
                    <mat-form-field fxFlex>
                        <input matInput type="text" formControlName="name" placeholder="Nome" required maxlength="500">
                        <mat-error *ngIf="formPersonal.get('name').hasError('required')">Este campo é obrigatório</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-select placeholder="Igreja" formControlName="church" required>
                            <mat-option *ngFor="let church of lstChurches" [value]="church.id">
                                ({{ church.code }}) {{ church.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-select placeholder="Cargo" formControlName="role" required>
                            <mat-option [value]="1">Tesoureiro (a)</mat-option>
                            <mat-option [value]="2">Tesoureiro (a) Associado (a)</mat-option>
                            <mat-option [value]="3">Tesoureiro (a) Assistente</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlexFill>
                    <input matInput [matDatepicker]="pickerRegistration" placeholder="Data de Registro no Cargo" formControlName="registrationDate"/>
                    <mat-datepicker-toggle matSuffix [for]="pickerRegistration"></mat-datepicker-toggle>
                    <mat-datepicker #pickerRegistration></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <input matInput type="text" formControlName="cpf" placeholder="CPF" maxlength="15"/> 
                    </mat-form-field>

                    <mat-form-field>
                        <input type="tel" matInput placeholder="Telefone" formControlName="phone" maxlength="20">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>

                    <mat-list>
                        <h3 mat-subheader style="padding: 0">Gênero</h3>
                        <mat-radio-group formControlName="gender" name="gender" aria-label="Gênero">
                            <mat-radio-button value="1" val aria-label="Masculino" style="margin: 0" [checked]="true">Masculino</mat-radio-button>
                            <mat-radio-button value="2" aria-label="Feminino">Feminino</mat-radio-button>
                        </mat-radio-group>
                    </mat-list>
                    <div>
                        <br/>
                        <button mat-button matStepperPrevious type="button">Voltar</button>
                        <button mat-button matStepperNext type="button">Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step label="Contato" [stepControl]="formContact">
                <form [formGroup]="formContact" fxLayout="column">
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email" maxlength="100">
                        <mat-error *ngIf="formPersonal.get('name').hasError('email')">
                            Digite um email válido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlexFill>
                        <input matInput ng-bind="date | date:'MM/dd/yyyy'" [matDatepicker]="pickerBirth" placeholder="Data de Nascimento" formControlName="birthday"/>
                        <mat-datepicker-toggle matSuffix [for]="pickerBirth"></mat-datepicker-toggle>
                        <mat-datepicker #pickerBirth></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                        <textarea matInput placeholder="Melhor Tipo Contato" formControlName="preferentialContact" maxlength="2000"></textarea>
                    </mat-form-field>

                    <mat-form-field>
                        <textarea matInput placeholder="Endereço" formControlName="address" maxlength="2000"></textarea>
                    </mat-form-field>

                    <mat-form-field>
                        <textarea formControlName="complement" matInput placeholder="Complemento" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" maxlength="500"></textarea>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput #postalCode maxlength="8" placeholder="CEP" formControlName="cep">
                        <mat-hint align="end">{{ postalCode.value.length }} / 8</mat-hint>
                    </mat-form-field>
                    
                    <div>
                        <br/>
                        <button mat-button matStepperPrevious type="button">Voltar</button>
                        <button mat-button matStepperNext type="submit" (click)="saveTreasurer()">Salvar</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>