<form [formGroup]="formCoupon">

    <div class="uk-flex uk-flex-row">
        <div class="uk-flex-1" *ngIf="coupons?.length > 0">
            <div class="coupon-list" *ngFor="let coupon of coupons;let i = index">
                <div>
                    <i uk-icon="icon:tag;ratio:2"></i>
                </div>
                <div class="uk-flex-1 uk-flex uk-flex-row">
                    <div class="uk-flex-1">
                        <span class="uk-text-small uk-display-block">Nome</span>
                        <span class="uk-text-large">{{ coupon.name }}</span>
                    </div>
                    <div style="width: 100px;">
                        <span class="uk-text-small uk-display-block">Desconto</span>
                        <span class="uk-text-large">{{ coupon.percentage }}%</span>
                    </div>
                    <div style="width: 100px;">
                        <span class="uk-text-small uk-display-block">Limite de uso</span>
                        <span class="uk-text-large">{{ coupon.usageLimit }}</span>
                    </div>
                </div>
                <div style="width: 50px;">
                    <a uk-icon="trash" (click)="removeCoupon(i)"></a>
                </div>
            </div>
        </div>

        <div class="msgWarning uk-flex-1 uk-flex uk-flex-row uk-flex-middle uk-flex-center" *ngIf="coupons?.length == 0">
            Você não tem cupons cadastrados
        </div>

        <div class="coupon-form">

            <mat-form-field appearance="outline" class="uk-width-1">
                <mat-label>Nome</mat-label>
                <input type="text" matInput placeholder="Nome" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="uk-width-1">
                <mat-label>Porcentagem de desconto</mat-label>
                <input type="number" matInput min="1" placeholder="Porcentagem de desconto"
                    formControlName="percentage">
            </mat-form-field>

            <mat-form-field appearance="outline" class="uk-width-1">
                <mat-label>Limite de uso</mat-label>
                <input type="number" matInput min="1" placeholder="Limite de uso" formControlName="usageLimit">
            </mat-form-field>

            <button mat-flat-button color="primary" [disabled]="!formCoupon.valid" (click)="addCoupon()">
                Criar Cupom
            </button>

        </div>
    </div>

    <button mat-flat-button matStepperNext color="primary" (click)="sendCoupons()">
        Continuar
    </button>

</form>