<form [formGroup]="formInformation">

  <div class="container-input">

    <mat-form-field appearance="outline" class="uk-flex-1 margin-input-right">
      <mat-label>Titulo do evento</mat-label>
      <input type="text" matInput placeholder="Nome" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Número de inscrições disponíveis</mat-label>
      <input type="number" matInput min="1" placeholder="Número de inscrições disponíveis"
        formControlName="subscriptionLimit">
    </mat-form-field>
  </div>


  <div class="container-input">

    <mat-form-field appearance="outline" class="uk-flex-1">
      <mat-label>Data de Inscrição</mat-label>
      <input matInput placeholder="Data de Inscrição" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
        [selectMode]="'range'" formControlName="registrationDate">
      <owl-date-time #dt1></owl-date-time>
    </mat-form-field>

    <mat-form-field appearance="outline" class="uk-flex-1 margin-input">
      <mat-label>Data do Evento</mat-label>
      <input matInput placeholder="Data do Evento" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" [selectMode]="'range'"
        formControlName="realizationDate">
      <owl-date-time #dt2></owl-date-time>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Campos Adicionais</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let field of fields" [value]="field.name">{{field.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <mat-form-field appearance="outline" class="uk-width-1">
    <mat-label>Descrição do evento</mat-label>
    <textarea matInput placeholder="Descrição" formControlName="description"></textarea>
  </mat-form-field>

  <button mat-flat-button matStepperNext color="primary" (click)="sendInformation()"
    [disabled]="!formInformation.valid">
    Continuar
  </button>

</form>