.container-input {
    display: flex;
    flex-direction: row;
}

.margin-input {
    margin:0 15px;
}

.margin-input-right{
    margin-right: 15px;
}

@media(max-width:750px){
    .container-input{
        flex-direction: column;
    }

    .margin-input{
        margin:0;
    }

    .margin-input-right{
        margin:0;
    }

}