.budget-label{
    width: 150px;
    float: left;
    margin: 1px;
    font-size: 13px;
}

.budget-value{
    width: 100px;
    float: left;
    margin: 1px;
    text-align: right;
    font-size: 13px;
}