.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #2575fc;
  background: -webkit-linear-gradient(left, #6a11cb, #2575fc);
}

.logo{
  text-align: center;
  margin-top:10px;
}

.logo img{
  width: 160px;
}

.card-login {
  width: 450px;
  height: 500px;
  border-radius: 15px;
  background: white;
  padding:30px;
}

.input{
  width: 100%;
}

.footer{
  text-align: center;
  margin-top:80px;
  text-transform: uppercase;
  font-size: .9em;

  a{
    text-decoration: none;
    color:#000;
  }

}