<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="card-login" fxFlex fxFlex.xl="750px" fxFlex.lg="470px" fxFlex.md="450px" fxFlex.sm="350px"
    fxFlex.lt-sm="100" ngClass.xl="xl" ngClass.lg="lg" ngClass.md="md" ngClass.sm="sm" ngClass.lt-sm="lt-sm"
    fxLayout="column">

    <div class="logo">
      <img src="../../../assets/img/logo_advente-tech.png" alt="">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">

      <mat-form-field appearance="outline" class="input" style="margin-top: 30px;">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email@email.com" required type="email" formControlName="email">
        <mat-error *ngIf="loginForm.get('email').hasError('email')">Email inválido</mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">Esse campo é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password"
          placeholder="Entre com a sua senha">
        <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </a>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">Esse campo é obrigatório</mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" type="submit">Acessar</button>
      </div>
    </form>

    <div class="footer">
      <a href="https://adven.tech" target="_blank">adventech</a>
      <span> - Todos os direitos recervados </span>
    </div>

  </div>
</div>