<div class="page-container mat-elevation-z2" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex.gt-sm="95%" fxFlex="97%">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="margin-top-small">
            <h2 class="title" fxFlex>{{ title }}</h2>
            <button mat-button (click)="buttonClick()" color="primary">{{ buttonLabel }}</button>
        </div>
        <mat-divider></mat-divider>
        <div class="margin-top-small">
            <ng-content></ng-content>
        </div>
    </div>
</div>