<form [formGroup]="formAdrees">

    <div class="contianer-input">

        <mat-form-field appearance="outline" class="uk-flex-1">
            <mat-label>CEP</mat-label>
            <input type="text" (blur)="getCep()" minlength="8" matInput placeholder="CEP" formControlName="cep"
                mask="00000-000">
        </mat-form-field>

        <mat-form-field appearance="outline" class="uk-flex-1 margin-input">
            <mat-label>Estado</mat-label>
            <input type="text" matInput placeholder="Estado" formControlName="state">
        </mat-form-field>

        <mat-form-field appearance="outline" class="uk-flex-1">
            <mat-label>Cidade</mat-label>
            <input type="text" matInput placeholder="Cidade" formControlName="city">
        </mat-form-field>

    </div>

    <div class="contianer-input">

        <mat-form-field appearance="outline" class="uk-flex-1">
            <mat-label>Barrio</mat-label>
            <input type="text" matInput placeholder="Barrio" formControlName="neighborhood">
        </mat-form-field>

        <mat-form-field appearance="outline" class="uk-flex-1 margin-input">
            <mat-label>Rua</mat-label>
            <input type="text" matInput placeholder="Rua" formControlName="street">
        </mat-form-field>

        <mat-form-field appearance="outline" class="uk-flex-1">
            <mat-label>Número</mat-label>
            <input type="number" matInput placeholder="Número" formControlName="number">
        </mat-form-field>

    </div>

    <mat-form-field appearance="outline" class="uk-width-1">
        <mat-label>Complemento</mat-label>
        <input type="text" matInput placeholder="Complemento" formControlName="complement">
    </mat-form-field>


    <button mat-flat-button color="primary" [disabled]="!formAdrees.valid" matStepperNext>
        Continuar
    </button>

</form>