.btn{
    width: 100%;
    padding: 15px 0;
    border:none;
    border-radius: 5px;
    background-color: #4C55BE;
    color:#FFF;
    transition: .3;
}

.btn:disabled{
    background: #eee;
    color:#555;
}