.title{
    font-size: 26px;
    font-weight: 300;
}

.container-event{
    width: calc(320px - 20px);
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom:10px;
    margin-right:10px;
    border:1px solid #DDD;
}

.container-event:last-child{
    margin-right: 0;
}

.column-small{
    width: 150px;
    margin-right: 10px;
}