.page-container {
    overflow: auto;
    height: calc(100vh - 92px);
}

.title {
    color: gray;
}

.container {
    overflow-y: auto;
}

.margin-top-small {
    margin-top: 1%;
}

.mat-fab-right {
    position: fixed;
    bottom: 45px;
    right: 24px;
    z-index: 1;
}

.sidenav-right {
    width: 99%;
}

.text-bold {
    font-weight: bold;
}

.margin-minus-20 {
    margin-left: -20px;
}

.break-line {
    white-space: normal;
}

.title-description {
    color: grey;
    font-weight: bold;
}

.description {
    margin: 0 3%;
}