<div class="page-container mat-elevation-z2" fxLayoutAlign="center">
    <div fxFlex="95%">
        <div class="margin-top-small" fxLayout="row" fxLayoutAlign="space-between">
            <h2 class="title" *ngIf="!searchButton">Lista de Processos</h2>
            <mat-form-field *ngIf="searchButton" fxFlex>
                <input matInput placeholder="Pesquisar..." (keyup)="search$.next($event.target.value)" (blur)="search$.next($event.target.value)">
            </mat-form-field>
            <div class="buttons" fxLayoutAlign="start center">
                <button mat-icon-button (click)="searchButton = !searchButton">
                <mat-icon aria-label="Pesquisar Processo">search</mat-icon>
              </button>
                <!-- <button mat-icon-button>
                <mat-icon aria-label="Filtrar lista de tesoureiro">filter_list</mat-icon>
              </button> -->
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex>
            <div class="header">
                <mat-list>
                    <mat-list-item>
                        <h3 matLine fxLayout="row">
                            <span *ngIf="showSchool" fxFlex="40%">Escola</span>
                            <div fxLayout="row" fxFlex>
                                <span fxFlex="50%">Aluno</span>
                                <span fxFlex fxFlexAlign="center">Protocolo</span>
                                <span fxFlex fxFlexAlign="center">Status</span>
                            </div>
                        </h3>
                    </mat-list-item>
                </mat-list>
                <mat-divider></mat-divider>
            </div>
            <div class="conteiner" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [scrollWindow]="false">
                <mat-accordion>
                    <div *ngFor="let process of (processes$ | async ); index as i">
                        <mat-expansion-panel hideToggle *ngIf="i <= showList">
                            <mat-expansion-panel-header>
                                <mat-panel-title *ngIf="showSchool" fxFlex="38%">
                                    {{ process.student.school.name }}
                                </mat-panel-title>
                                <mat-panel-description fxLayout="row" fxFlex>
                                    <span fxFlex="50%">
                                      {{ process.student.name }}
                                    </span>
                                    <span fxFlex fxFlexAlign="center">
                                      {{ process.protocol }}
                                    </span>
                                    <span fxFlex fxFlexAlign="center">
                                      {{ process.statusString }}
                                    </span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-list>
                                <h2 matSubheader>Informações do Processo</h2>
                                <mat-list-item fxLayout="row" style="height: auto">
                                    <div fxLayout="column" fxFlex matLine>
                                        <span class="text-bold" class="details-title"><b>Documentos pessoais:</b> {{ process.isPersonalDocuments ? "Enviado" : "Não Enviado" }}</span>
                                        <span class="text-bold" class="details-title"><b>Declaração do imposto de renda:</b> {{ process.isIR ? "Enviado" : "Não Enviado" }}</span>
                                        <span class="text-bold" class="details-title"><b>Carteira de trabalho:</b> {{ process.isCTPS ? "Enviado" : "Não Enviado" }}</span>
                                        <span class="text-bold" class="details-title"><b>Comprovante de rendimentos:</b> {{ process.isIncome ? "Enviado" : "Não Enviado" }}</span>
                                        <span class="text-bold" class="details-title"><b>Comprovante de despesas:</b> {{ process.isExpenses ? "Enviado" : "Não Enviado" }}</span>
                                        <span class="text-bold" class="details-title"><b>Comprovante acadêmico:</b> {{ process.isAcademic ? "Enviado" : "Não Enviado" }}</span>
                                        <!-- <br/>
                                        <span class="text-bold" class="details-title"><b>RC estudante: </b>{{ process.student.rc }}</span>
                                        <br/>
                                        <span class="text-bold" class="details-title"><b>Responsável: </b>{{ process.student.responsible.name }}</span>
                                        <span class="text-bold" class="details-title"><b>CPF: </b>{{ process.student.responsible.cpf }}</span>
                                        <span class="text-bold" class="details-title"><b>E-mail: </b>{{ process.student.responsible.email }}</span>
                                        <span class="text-bold" class="details-title"><b>Telefone: </b>{{ process.student.responsible.phone }}</span>
                                        <br/> -->
                                        <span *ngIf="process.pendency != null" class="text-bold" class="details-title"><b>Pendência: </b>{{ process.pendency }}</span>
                                    </div>
                                </mat-list-item>
                            </mat-list>
                            <mat-action-row>
                                <button *ngIf="process.status == 1" mat-button style="background-color: #76d275!important; color: #fff" matTooltip="Iniciar" (click)="toWaiting([process])">INICIAR</button>
                                <button *ngIf="process.status == 2 || process.status == 3" mat-button style="background-color: #f44336!important; color: #fff" matTooltip="Pendência" (click)="toPendency([process])">PENDÊNCIA</button>
                                <button *ngIf="process.status == 2 || process.status == 3 || process.status == 4" mat-button style="background-color: #607d8b!important; color: #fff" matTooltip="Indeferir" (click)="toReject([process])">INDEFERIR</button>
                                <button *ngIf="process.status == 2 || process.status == 3 || process.status == 4" mat-button style="background-color: #ff9800!important; color: #fff" matTooltip="Aprovar" (click)="toApprove([process])">APROVAR</button>
                                <button *ngIf="process.status == 1" mat-button color="primary" matTooltip="Editar" (click)="toWaiting([process])">EDITAR</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                    </div>
                </mat-accordion>
            </div>
            <br/>
        </div>
    </div>
</div>
<br/>