<mat-toolbar color="primary" style="background-color: #0d248c" class="mat-elevation-z6">
    <img src="../../../../favicon.ico" style="width: 30px; height: 30px; margin-left: 20px;" class="click" />
    <div style="margin-left: 10px;" class="click">Adven.tech</div>
    <span class="fill-space"></span>
    <div fxLayout="row" fxLayoutAlign="end">
        <button mat-icon-button [matMenuTriggerFor]="appMenu" fxHide fxShow.xs>
        <mat-icon>account_circle</mat-icon>
            <!-- <img class="material-icons mat-36 circle-18" src="{{app.currentUser.photoUrl}}?size=36" *ngIf="app.currentUser.photoDate !== ''">-->
      </button>
        <button mat-button [matMenuTriggerFor]="appMenu" fxShow fxHide.xs>
        <table style="line-height: normal; text-align: right;">
          <tr>
            <td>
              {{ responsible.name }}
            </td>
          </tr>
        </table>
      </button>
    </div>
    <mat-menu [overlapTrigger]="false" xPosition="before" #appMenu="matMenu">
        <button mat-menu-item (click)="logoff()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sair</span>
  </button>
    </mat-menu>
</mat-toolbar>
<br/>
<div fxLayoutAlign="center">
    <div fxFlex.gt-sm="95%" fxFlex="97%">
        <mat-divider></mat-divider>
        <div fxFlex>
            <div class="header">
                <mat-list>
                    <mat-list-item>
                        <h3 matLine fxLayout="row">
                            <div fxLayout="row" fxFlex>
                                <span fxFlex="50%">Aluno</span>
                                <span fxFlex="25%" fxHide.lt-sm fxFlexAlign="center">Protocolo</span>
                                <span fxFlex="25%" fxHide.lt-sm fxFlexAlign="center">Status</span>
                            </div>
                        </h3>
                    </mat-list-item>
                </mat-list>
                <mat-divider></mat-divider>
            </div>
            <div layout="column" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [scrollWindow]="false">
                <mat-accordion>
                    <div *ngFor="let process of processes; index as i">
                        <mat-expansion-panel hideToggle *ngIf="i <= showList">
                            <mat-expansion-panel-header>
                                <mat-panel-description fxLayout="row" fxFlex>
                                    <span fxFlex="50%" style="white-space: nowrap;">
                                        {{ process.student.name }}
                                    </span>
                                    <span fxFlex="25%" fxHide.lt-sm fxFlexAlign="center">
                                        {{ process.protocol }}
                                    </span>
                                    <span fxFlex="25%" fxHide.lt-sm fxFlexAlign="center">
                                        {{ process.statusString }}
                                    </span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-list>
                                <div fxLayout="row" fxHide.gt-xs fxLayoutAlign="space-between">
                                    <span class="text-bold" class="details-title"><b>Protocolo:</b> {{ process.protocol }}</span>
                                </div>
                                <div fxLayout="row" fxHide.gt-xs fxLayoutAlign="space-between">
                                    <span class="text-bold" class="details-title"><b>Status:</b> {{ process.statusString }}</span>
                                </div>
                                <span style="white-space: normal;" *ngIf="process.pendency != null && process.status == 3" class="text-bold" class="details-title"><b>Pendência: </b>{{ process.pendency }} (Documento(s) <span *ngIf="!process.isSendDocument">Não</span> Enviado(s))</span>
                                <span style="white-space: normal;" *ngIf="process.dateRegistration != null && (process.status == 5 || process.status ==6)" class="text-bold" class="details-title"><b>Matrícula: </b> até {{ process.dateRegistration | date: "dd/MM/yyyy" }}</span>
                                <span style="white-space: normal;" *ngIf="process.motiveReject != null && (process.status == 7)" class="text-bold" class="details-title"><b>{{ process.motiveReject }}: </b>{{ getMotiveToReject(process.motiveReject) }}</span>   
                            </mat-list>
                        </mat-expansion-panel>
                    </div>
                </mat-accordion>
            </div>
        </div>
        <br/>
        <div class="page-container mat-elevation-z4" fxFlex.gt-md="94%" fxFlex="100%">
            <div [ngStyle]="{'position': 'relative'}">
                <footer fxLayout="row">
                    <div fxFlex="155px" class="footer-unit">©FORLOGIC 2004 - {{ year }}</div>
                    <div fxFlex="145px" class="footer-software">
                        <div style="width: 90px; float: left">Adven.tech</div>
                        <div style="width: 30px; float: right; text-align: right">v1.0</div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>