footer {
    width: 0%;
    height: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    color: #666;
    .footer-unit,
    .footer-software,
    .footer-version {
        box-sizing: border-box;
        padding: 3px 5px 10px 5px;
    }
    .footer-software {
        border-top: 3px solid #00ae9d;
    }
    .footer-unit {
        margin-right: 2px;
        border-top: 3px solid #0087c4;
    }
    .footer-version {
        text-align: right;
        border-top: 1px solid #00ae9d;
    }
}

.page-container {
    height: calc(100vh - 92px);
}

.conteiner {
    overflow: auto;
    max-height: calc(100vh - 240px);
}

.style-text{
  white-space: pre-line;
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.54);
}
