footer {
    font-size: 12px;
    color: #666;
    .footer-software {
        border-top: 3px solid #00ae9d;
    }
    .footer-brand {
        margin-right: 2px;
        border-top: 3px solid #0087c4;
    }
}