<app-form-sidenav-right (closeEmitted)="closeSidenav()" #sidenavRight></app-form-sidenav-right>
<app-layout-data>
    <div space-type="header" fxLayout="column">
        <div class="margin-top-small" fxLayout="row" fxLayoutAlign="space-between">
            <h2 class="title" *ngIf="!searchButton">Lista de Distritos</h2>
            <mat-form-field *ngIf="searchButton" fxFlex>
                <input matInput placeholder="Pesquisar..." (keyup)="search$.next($event.target.value)" (blur)="search$.next($event.target.value)" [value]="search$ | async">
            </mat-form-field>
            <div class="buttons" fxLayoutAlign="start center">
                <button mat-icon-button matTooltip="Pesquisar papel" (click)="searchButton = !searchButton">
                  <mat-icon aria-label="Pesquisar Papel">search</mat-icon>
              </button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex>
            <div class="header">
                <mat-list>
                    <mat-list-item>
                        <h3 matLine fxLayout="row">
                            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                                <span fxFlex>Nome</span>
                                <span fxFlex fxFlexOffset.lt-sm="55px">Analista</span>
                                <span fxFlex></span>
                            </div>
                        </h3>
                    </mat-list-item>
                </mat-list>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>
    <mat-list space-type="container" fxLayout="column" class="container" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [scrollWindow]="false">
        <div fxLayout="column" *ngIf="districts.length !== 0">
            <mat-list-item class="break-line" *ngFor="let district of districts; index as i" fxFlex>
                <span class="text-color-item" fxFlex>{{ district.name }}</span>
                <span class="text-color-item" fxFlex>{{ district.analystName }}</span>
                <button mat-icon-button fxHide.gt-xs [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                <mat-menu #menu="matMenu">
                    <ng-template [Feature]="47" permission="3">
                        <button (click)="edit(district)" mat-menu-item><mat-icon aria-label="Editar distrito" color="primary">edit</mat-icon>
                                <span>Editar</span>
                              </button>
                    </ng-template>
                    <ng-template [Feature]="47" permission="4">
                        <button (click)="remove(district)" mat-menu-item><mat-icon aria-label="Excluir distrito" color="warn">delete</mat-icon>
                                <span>Excluir</span>
                              </button>
                    </ng-template>
                </mat-menu>
                <span fxLayout="row" fxLayoutAlign="end center" fxFlex fxHide.lt-sm>
                            <ng-template [Feature]="47" permission="3">
                              <button mat-icon-button matTooltip="Editar" (click)="edit(district)" color="primary">
                                <mat-icon aria-label="Editar distrito">edit</mat-icon>
                              </button>
                            </ng-template>
                            <ng-template [Feature]="47" permission="4">
                              <button mat-icon-button matTooltip="Excluir" color="warn" (click)="remove(district)">
                                <mat-icon aria-label="Excluir distrito">delete</mat-icon>
                              </button>
                            </ng-template>
                        </span>
                <mat-divider></mat-divider>
            </mat-list-item>
        </div>
    </mat-list>
</app-layout-data>
<ng-template [Feature]="47" permission="1">
    <button mat-fab color="accent" class="mat-fab-right" routerLink="./novo"><mat-icon aria-label="Adicionar distrito">add</mat-icon></button>
</ng-template>