<div class="container">

    <div>
        <span class="title">Configurações</span>
    </div>

    <div class="uk-margin-medium-top">

        <div class="header">
            <a class="uk-flex-1" routerLink="/configuracoes/campos" routerLinkActive="actived">
                Campos adicionais
            </a>

            <a class="uk-flex-1" routerLink="/configuracoes/listas" routerLinkActive="actived">
                Lista
            </a>
        </div>

        <router-outlet></router-outlet>

    </div>

</div>