<app-form-sidenav-right (closeEmitted)="closeSidenav()" #sidenavRight></app-form-sidenav-right>
<app-layout-data>
    <app-header-data space-type="header" name="Papéis" (searchEmitted)="searchProfile($event)">
        <div space-type="title" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
            <span fxFlex>Papel</span>
            <span fxFlex fxFlexOffset.lt-sm="55px">Módulo</span>
            <span fxFlex></span>
        </div>
    </app-header-data>
    <mat-list space-type="container" fxLayout="column" class="container" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [scrollWindow]="false">
        <div fxLayout="column" *ngIf="profiles.length !== 0">
            <mat-list-item class="break-line" *ngFor="let profile of profiles; index as i" fxFlex>
                <span class="text-color-item" fxFlex>{{ profile?.name }}</span>
                <span class="text-color-item" fxFlex>{{ getModuleName(profile?.software) }}</span>
                <button mat-icon-button fxHide.gt-xs [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                <mat-menu #menu="matMenu">
                    <button (click)="editProfile(profile)" mat-menu-item>
                            <mat-icon aria-label="Editar papel" color="accent">edit</mat-icon>
                            <span>Editar</span>
                          </button>
                    <button (click)="removeProfile(profile)" mat-menu-item>
                            <mat-icon aria-label="Excluir papel" color="warn">delete</mat-icon>
                            <span>Excluir</span>
                          </button>
                </mat-menu>
                <span fxLayout="row" fxLayoutAlign="end center" fxFlex fxHide.lt-sm>
                            <button mat-icon-button matTooltip="Editar" (click)="editProfile(profile)" color="accent">
                              <mat-icon aria-label="Editar papel">edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Excluir" color="warn" (click)="removeProfile(profile)">
                              <mat-icon aria-label="Excluir papel">delete</mat-icon>
                            </button>
                        </span>
                <mat-divider></mat-divider>
            </mat-list-item>
        </div>
    </mat-list>
</app-layout-data>

<button mat-fab color="accent" class="mat-fab-right" routerLink="./novo"><mat-icon aria-label="Novo papel">add</mat-icon></button>