<div fxLayoutAlign="center center" class="container-login">
    <mat-card>
        <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="15px">
            <mat-card-header fxLayoutAlign="center center">
                <div class="register-header" fxlayout="column" fxlayoutalign="center center">
                    <img src="../assets/img/logo_login.png">
                </div>
            </mat-card-header>
            <mat-card-title fxLayoutAlign="center center">Redefinir Senha</mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
                <form [formGroup]="formPassword" fxLayout="column" fxLayoutGap="35px" (ngSubmit)="onSubmit()">
                    <div fxLayout="column">
                        <mat-form-field hintLabel="Tamanho mínimo: 6 caracteres" fxFlex>
                            <input matInput formControlName="new" placeholder="Nova senha" [type]="hideNew ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="formPassword.get('new').hasError('required')">Este campo é obrigatório</mat-error>
                            <mat-error *ngIf="formPassword.get('new').hasError('minlength')">Digite uma senha com tamanho maior que 6 dígitos</mat-error>
                        </mat-form-field>
                        <div *ngIf="formPassword.get('new').value != null" style="margin-top: 5%" fxFlex>
                            <app-strength-meter [password]="formPassword.get('new').value" (strength)="onStrength($event)"></app-strength-meter>
                            <mat-error [ngClass]="{'color-font-grey': strength >= 2, 'font-feedback': strength < 2 }">{{ getMensage() }}</mat-error>
                            <!-- <app-password-feedback *ngIf="form.get('new').errors?.strongPassword" [feedback]="form.get('new').errors.strongPassword.feedback">
                            </app-password-feedback> -->
                        </div>
                    </div>
                    <div fxLayout="column">
                        <mat-form-field fxFlex>
                            <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirm" placeholder="Confirmar nova senha" />
                            <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="formPassword.get('confirm').hasError('required')">Este campo é obrigatório</mat-error>
                            <mat-error *ngIf="formPassword.get('confirm').hasError('minlength')">Digite uma senha com tamanho maior que 6 dígitos</mat-error>
                        </mat-form-field>
                        <div fxFlex>
                            <mat-error *ngIf="formPassword.hasError('mismatchedPasswords') && formPassword.get('confirm').dirty">As senhas não conferem!</mat-error>
                        </div>
                    </div>
                    <button mat-raised-button type="submit" color="primary">SALVAR</button>
                </form>
            </mat-card-content>
        </div>
    </mat-card>
</div>