<div class="background uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-height-viewport="expand: true">

    <div class="uk-margin-medium-bottom">
        <i uk-icon="icon:calendar;ratio:3" class="logo-icon"></i>
    </div>

    <div class="form-login">

        <div class="uk-margin-small-bottom uk-text-center">
            <span class="uk-text-large">Recuperar Senha</span>
            <span class="uk-display-block">
                Informe seu email para recuperar sua senha.
            </span>
        </div>

        <form [formGroup]="formForgot">

            <mat-form-field appearance="outline" class="uk-width-1">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <div class="uk-flex uk-flex-row uk-flex-middle">
                <div class="uk-flex-1">
                    <button mat-flat-button color="primary" [disabled]="!formForgot.valid">Entrar</button>
                </div>
                <a routerLink="" class="uk-text-small uk-text-uppercase">Entrar</a>
            </div>

        </form>
    </div>

</div>