.background{
    background: #207ce5;
    background: -webkit-gradient(left top,left bottom,color-stop(0,#207ce5),color-stop(100%,#0d47a1));
    background: linear-gradient(to bottom,#207ce5 0,#0d47a1 100%);
}

.logo-icon{
    color: #FFF;
}

.form-login{
    max-width: 95%;
    width: 350px;
    background: #FFF;
    padding: 30px 20px;
    border-radius: 5px;
}
