<div fxLayout="row" fxFlexFill fxLayoutAlign="center" *ngIf="loading" style="padding-top: 25vh;">
    <mat-spinner></mat-spinner>
</div>
<form [formGroup]="formRequirement" ngStyle.gt-sm="margin: 0px 40px" ngStyle.lt-md="margin: 0px 10px" (keydown.enter)="$event.preventDefault()" *ngIf="!loading">
    <app-header-form [title]="labelTitle()"></app-header-form>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="50%">
            <mat-form-field fxFlex>
                <input matInput type="number" formControlName="position" placeholder="Posição" required minlength="1" maxlength="200">
                <mat-error *ngIf="formRequirement.get('position').hasError('required')">Este campo é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput type="text" formControlName="name" placeholder="Nome" required minlength="3" maxlength="200">
                <mat-error *ngIf="formRequirement.get('name').hasError('required')">Este campo é obrigatório</mat-error>
                <mat-error *ngIf="formRequirement.get('name').hasError('minlength')">Nome pequeno, digite um nome com mais de 3 dígitos</mat-error>
                <mat-error *ngIf="formRequirement.get('name').hasError('maxlenght')">Nome grande, digite um nome com menos de 200 dígitos</mat-error>
                <mat-error *ngIf="formRequirement.get('name').hasError('pattern')">Digite um nome válido.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput type="text" formControlName="description" placeholder="Descrição" required minlength="3" maxlength="200">
                <mat-error *ngIf="formRequirement.get('description').hasError('required')">Este campo é obrigatório</mat-error>
                <mat-error *ngIf="formRequirement.get('description').hasError('minlength')">Descrição pequena, digite um descrição com mais de 3 dígitos</mat-error>
                <mat-error *ngIf="formRequirement.get('description').hasError('maxlenght')">Descrição grande, digite um descrição com menos de 200 dígitos</mat-error>
                <mat-error *ngIf="formRequirement.get('description').hasError('pattern')">Digite um descrição válido.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Tipo" formControlName="isAnual" required>
                    <mat-option value="false">Mensal</mat-option>
                    <mat-option value="true">Anual</mat-option>
                </mat-select>
                <mat-error *ngIf="formRequirement.get('isAnual').hasError('required')">Este campo é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput type="number" formControlName="score" placeholder="Nota" required minlength="1" maxlength="200">
                <mat-error *ngIf="formRequirement.get('isAnual').hasError('required')">Este campo é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput ng-bind="date | date:'MM/dd/yyyy'" [matDatepicker]="pickerBirth" placeholder="Data" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="pickerBirth"></mat-datepicker-toggle>
                <mat-datepicker #pickerBirth></mat-datepicker>
                <mat-error *ngIf="formRequirement.get('date').hasError('required')">Este campo é obrigatório</mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between" fxFlexOffset="40px">
                <a mat-button type="button" routerLink="/tesouraria/requisitos">CANCELAR</a>
                <button mat-raised-button type="submit" (click)="saveRequirement()" color="primary" [disabled]="isSending">SALVAR</button>
            </div>
        </div>
    </div>
</form>