<app-container-image login="1">
    <ng-container *ngIf="!emailSend; else mensageSuccess" space-type="login">
        <mat-card-header fxLayoutAlign="center">
            <img src="../assets/img/logo_login.png">
        </mat-card-header>
        <mat-card-title class="title padding-top-20 padding-bottom-20" fxLayoutAlign="center center">Recuperar Senha</mat-card-title>
        <mat-card-content fxLayout="column" class="margin-top-20" fxLayoutGap="45px">
            <form fxLayout="column" fxLayoutGap="40px" [formGroup]="formEmail" method="post">
                <mat-form-field fxFlex>
                    <input matInput formControlName="email" placeholder="Email" maxlength="200">
                    <mat-error *ngIf="formEmail.get('email').hasError('required')">Digite um email</mat-error>
                    <mat-error *ngIf="formEmail.get('email').hasError('email') && !formEmail.get('email').hasError('required')">Digite um email válido</mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="center">
                    <button mat-flat-button color="primary" type="submit" [disabled]="isSendEmail" (click)="sendEmailRequest()">ENVIAR EMAIL DE RECUPERAÇÃO</button>
                </div>
            </form>
            <a class="link" fxLayoutAlign="center" style="margin: 20px 0" (click)="goBackLogin()">Voltar ao login</a>
        </mat-card-content>
    </ng-container>
    <ng-template #mensageSuccess>
        <div fxLayout="column" fxLayoutAlign="center center" space-type="login">
            <mat-card-header>
                <mat-icon class="icon-email">email</mat-icon>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center" class="margin-top-20" fxLayoutGap="20px">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <h2 class="title mensageSuccessTitle">Email enviado!</h2>
                    <p class="title mensageSuccess">Um e-mail de recuperação de senha foi enviado para {{ formEmail.value.email }}.</p>
                    <p class="title mensageSuccess">
                        Verifique sua caixa de entrada e clique no botão "Alterar senha" para alterar a senha da sua conta.
                    </p>
                </div>
                <a class="link" fxLayoutAlign="center" style="margin: 20px 0" (click)="goBackLogin()">Voltar ao login</a>
            </mat-card-content>
        </div>
    </ng-template>
</app-container-image>