:host{
	display: block;
}
:host /deep/> div[my-dt-header],
:host /deep/> div[my-dt-header-options]{
	display: flex;
	padding-left: 24px;
	padding-right: 6px;
	font-size: 16px;
	border-bottom: 1px solid #DDD;
}
:host /deep/> div[my-dt-header-options] > .actions{
	background-color: #E3F2FD;
	color: #1E88E5;
}
:host /deep/> div[my-dt-header] > .actions,
:host /deep/> div[my-dt-header-options] > .actions{
	color: rgba(0, 0, 0, 0.54);
	white-space: nowrap;
}
:host /deep/> div[my-dt-header] > .actions mat-icon[aria-label],
:host /deep/> div[my-dt-header-options] > .actions mat-icon[aria-label]{
	opacity: 1;
}
:host /deep/> div[my-dt-header] > .spacer,
:host /deep/> div[my-dt-header-options] > .spacer{
	flex: 1 1 auto;
}
:host /deep/> div[my-dt-header]{
	height: 64px;
}
:host /deep/> div[my-dt-header] > *,
:host /deep/> div[my-dt-header-options] > *{
	line-height: 64px;
	margin: 0px;
}
:host /deep/> div[my-dt-header] > h2{
	font-family: Roboto,"Helvetica Neue",sans-serif;
	font-size: 20px;
	font-weight: normal;
}
:host /deep/> div[my-dt-header] > h2 > a{
	color: #1E88E5;
}
:host /deep/> div[my-dt-header] mat-input-container{
	margin-top: 5px;
}
:host /deep/> div[my-dt-header] mat-input-container *{
	line-height: normal;
}
:host /deep/> div[my-dt-header-options]{
	background-color: #E3F2FD;
	color: #1E88E5;
	font-size: 16px;
}
:host /deep/> mat-spinner{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%), translateY(-50%);
	display: none;
}
:host /deep/> table{
	background-color: #FFF;
	border-spacing: 0px;
	width:100%;
}
:host /deep/> table>thead{
	font-family: Roboto,"Helvetica Neue",sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.54);
}
:host /deep/> table>thead>tr>th{
	height: 56px;
	vertical-align: middle;
	border-bottom:1px solid #DDD;
	box-sizing: border-box;
	text-align: left;
	padding: 0px;
}
:host /deep/> table>thead>tr>th:first-child{
	padding: 0px 24px;
	width: 1px;
}
:host /deep/> table [my-dt-column]{
	cursor: pointer;
}
:host /deep/> table [my-dt-column] mat-icon{
	font-size: 16px;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	opacity: 0;
	color: rgba(0, 0, 0, 0.38);
	transition: transform .25s, opacity .25s;
	transform-origin: center center;
	text-align: center;
}
:host /deep/> table [my-dt-column].sorted-asc,
:host /deep/> table [my-dt-column].sorted-desc{
	color: rgba(0, 0, 0, 0.87);
}
:host /deep/> table [my-dt-column].sorted-asc mat-icon,
:host /deep/> table [my-dt-column].sorted-desc mat-icon{
	opacity: 1;
	color: rgba(0, 0, 0, 0.87);
}
:host /deep/> table [my-dt-column].sorted-asc mat-icon{
	transform: rotate(0deg);
}
:host /deep/> table [my-dt-column].sorted-desc mat-icon{
	transform: rotate(180deg);
}
:host /deep/> table [my-dt-column]:hover mat-icon{
	opacity: 1;
}
:host /deep/> table>tbody{
	font-family: Roboto,"Helvetica Neue",sans-serif;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.87);
}
:host /deep/> table>tbody [mat-icon-button] mat-icon[aria-label]{
	opacity: 0.2;
}
:host /deep/> table>tbody [mat-icon-button] mat-icon[aria-label]:hover{
	opacity: 1;
}
:host /deep/> table>tbody>tr>td{
	height: 48px;
	vertical-align: middle;
	box-sizing: border-box;
	border-bottom:1px solid #DDD;
	padding: 0px;
}
:host /deep/> table>tbody>tr>td:first-child{
	padding-left: 24px;
}
:host /deep/> table>tbody>tr.selected{
	background-color:#F5F5F5;
}
:host /deep/> table>tbody tr:hover{
	background-color: #EEE;
}
:host /deep/> table>tfoot{
	font-family: Roboto,"Helvetica Neue",sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.54);
}
