<div [ngStyle.xl]="{'width.vw': 30}" [ngStyle.lg]="{'width.vw': 40}" [ngStyle.md]="{'width.vw': 60}" [ngStyle.sm]="{'width.vw': 70}" [ngStyle.xs]="{'width.vw': 100}">
  <div fxLayout="column" fxLayoutAlign="start" class="container beautiful-scroll-x" style="margin-top: 50px;">
              <form [formGroup]="formDistrict" fxLayout="column">
                <mat-form-field fxFlex>
                  <input matInput type="text" formControlName="name" placeholder="Nome" required minlength="3" maxlength="200">
                </mat-form-field>
                <!-- <mat-form-field fxFlex>
                  <input matInput type="text" formControlName="analyst" placeholder="Analista" required minlength="3" maxlength="200">
                </mat-form-field> -->

                <mat-form-field>
                  <mat-select placeholder="Analista" formControlName="analyst"  [(ngModel)]="teste" required>
                      <mat-option *ngFor="let analyst of users"  [value]="analyst.name">
                          {{ analyst.name }}
                      </mat-option>
                  </mat-select>
              </mat-form-field>

              <div fxLayout="row" fxLayoutAlign="space-between">
                  <button mat-button type="button" (click)="closeSidenav()">Cancelar</button>
                  <button mat-button type="submit" (click)="saveTreasurer()">Salvar</button>
              </div>
              </form>
  </div>
</div>
