::ng-deep #strengthBar {
    margin-left: 0px !important;
}

::ng-deep #strengthBar li {
    width: 36px !important;
}

.btn-cancel {
    color: #757575;
}

.mat-card {
    height: 400px;
}

.color-font-grey {
    color: #818a91;
    font-size: 14px
}

.font-feedback {
    font-size: 12px;
}