<form [formGroup]="form" novalidate fxLayout="column" fxLayoutAlign="space-between stretch">
    <div *ngIf="!adminChangePassword">
        <mat-form-field>
            <input matInput type="password" formControlName="currentPassword" placeholder="Senha atual" />
            <mat-error *ngIf="form.get('currentPassword').hasError('required')">Este campo é obrigatório</mat-error>
        </mat-form-field>
    </div>

    <div formGroupName="passwords">
        <div>
            <mat-form-field>
                <input matInput type="password" formControlName="new" placeholder="Nova senha">
                <mat-error *ngIf="form.get('passwords').get('new').hasError('required')">Este campo é obrigatório</mat-error>
                <mat-error *ngIf="form.get('passwords').get('new').hasError('minlength')">Digite uma senha com tamanho maior que 6 dígitos</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="password" formControlName="confirm" placeholder="Confirmar nova senha" />
                <mat-error *ngIf="form.get('passwords').get('confirm').hasError('required')">Este campo é obrigatório</mat-error>
                <mat-error *ngIf="form.get('passwords').get('confirm').hasError('minlength')">Digite uma senha com tamanho maior que 6 dígitos</mat-error>

            </mat-form-field>
        </div>


        <div style="height: 15px;">
            <mat-error *ngIf="form.get('passwords').hasError('mismatchedPasswords') && form.get('passwords').get('confirm').dirty" style="font-size: 75%;">As senhas não conferem!</mat-error>
        </div>

        <div *ngIf="form.get('passwords').get('new').value != null">
            <app-strength-meter [password]="form.get('passwords').get('new').value" (strength)="onStrength($event)"></app-strength-meter>
            <!-- <app-password-feedback *ngIf="form.get('passwords').get('new').errors?.strongPassword" [feedback]="form.get('passwords').get('new').errors.strongPassword.feedback">
            </app-password-feedback> -->
        </div>
    </div>

    <div class="buttons" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button type="button" class="btn-cancel">CANCELAR</button>
        <button mat-button type="submit" (submit)="onSubmit($event)" color="primary">SALVAR</button>
    </div>
</form>