<mat-card>
    <form [formGroup]="form" novalidate fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
        <mat-card-title fxFlex fxFlexAlign="center">Alterar Senha</mat-card-title>
        <div *ngIf="!adminChangePassword" fxLayout="column" fxLayout.gt-md="row">
            <mat-form-field fxFlex>
                <input matInput type="password" formControlName="currentPassword" placeholder="Senha atual" />
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngIf="form.get('currentPassword').hasError('required')">Este campo é obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div formGroupName="passwords" fxLayout="column" fxLayoutGap="35px" fxLayoutGap.gt-md="20px">
            <div fxLayout="column">
                <mat-form-field hintLabel="Tamanho mínimo: 6 caracteres" fxFlex>
                    <input matInput formControlName="new" placeholder="Nova senha" [type]="hideNew ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="form.get('passwords').get('new').hasError('required')">Este campo é obrigatório</mat-error>
                    <mat-error *ngIf="form.get('passwords').get('new').hasError('minlength')">Digite uma senha com tamanho maior que 6 dígitos</mat-error>
                </mat-form-field>
                <div *ngIf="form.get('passwords').get('new').value != null" style="margin-top: 5%" fxFlex>
                    <app-strength-meter [password]="form.get('passwords').get('new').value" (strength)="onStrength($event)"></app-strength-meter>
                    <mat-error [ngClass]="{'color-font-grey': strength >= 2, 'font-feedback': strength < 2 }">{{ getMensage() }}</mat-error>
                    <!-- <app-password-feedback *ngIf="form.get('passwords').get('new').errors?.strongPassword" [feedback]="form.get('passwords').get('new').errors.strongPassword.feedback">
                    </app-password-feedback> -->
                </div>
            </div>

            <div fxLayout="column">
                <mat-form-field fxFlex>
                    <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirm" placeholder="Confirmar nova senha" />
                    <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="form.get('passwords').get('confirm').hasError('required')">Este campo é obrigatório</mat-error>
                    <mat-error *ngIf="form.get('passwords').get('confirm').hasError('minlength')">Digite uma senha com tamanho maior que 6 dígitos</mat-error>
                </mat-form-field>
                <div fxFlex>
                    <mat-error *ngIf="form.get('passwords').hasError('mismatchedPasswords') && form.get('passwords').get('confirm').dirty" style="font-size: 75%;">As senhas não conferem!</mat-error>
                </div>
            </div>
        </div>

        <div class="buttons" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex>
            <button mat-button type="button" class="btn-cancel" (click)="cancel()">CANCELAR</button>
            <button mat-button type="submit" (submit)="onSubmit($event)" color="primary" [disabled]="form.invalid">SALVAR</button>
        </div>
    </form>
</mat-card>