<div class="main_header">
    <div class="container">

        <div class="uk-flex uk-flex-row uk-flex-middle" style="height:50px">
            <div class="uk-flex-1">
                <a (click)="openSidebar()" class="uk-margin-small-right">
                    <i style="color:#FFF" uk-icon="icon:menu;ratio:1.4"></i>
                </a>
                <a routerLink="/" class="logo">
                    <img src="../../../assets/img/adventech-white.png" alt="">
                </a>
            </div>
            <div *ngIf="!isLogin">
                <a [href]="urlIdentity" mat-button class="actived">Entrar</a>
            </div>

            <!-- <div>
                <button mat-button *ngIf="isLogin" [matMenuTriggerFor]="menu">
                    <i style="color:#FFF" uk-icon="grid"></i>
                </button>
                <mat-menu #menu="matMenu" class="menu">
                    <div class="menu_apps">
                        <div class="item">
                            <i uk-icon="icon:calendar;ratio:2"></i>
                            <span>Eventos</span>
                        </div>
                        <div class="item">
                            <i uk-icon="icon:calendar;ratio:2"></i>
                            <span>Eventos</span>
                        </div>
                        <div class="item">
                            <i uk-icon="icon:calendar;ratio:2"></i>
                            <span>Eventos</span>
                        </div>
                    </div>
                </mat-menu>
            </div> -->
            <div class="uk-flex uk-flex-row" *ngIf="isLogin">

                <button mat-button [matMenuTriggerFor]="menu" fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>account_circle</mat-icon>
                    <span fxHide.lt-sm> {{user?.name}} </span>
                    <mat-icon fxHide.lt-sm>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="menu">
                    <button mat-menu-item (click)="logout()" routerLink="/">
                        <i uk-icon="sign-out" class="uk-margin-small-right"></i>
                        <span>Sair</span>
                    </button>
                </mat-menu>

            </div>
        </div>
    </div>
</div>