.main_header{
    width:100%;
    color:#FFF;
    background: #4C55BE;
    z-index: 999;
}

.actived{
    border-radius: 60px;
    border:1px solid #FFF;
}

.item-show{
    display: none;
}

.logo{
    width: 60px;
    margin-left: 20px;
}

@media(max-width:900px) {
    .item-show{
        display: block;
    }
    .item-hidden{
        display: none;
    }
}