<app-menu-main-informations></app-menu-main-informations>
<mat-accordion>
    <ng-container *ngIf="checkUserIsAdmin()">
        <app-menu-expansion-item [expanded]="isRouteActive('/administracao')" icon="supervisor_account" title="Administração">
            <div list-type="item">
                <a mat-list-item class="mat-list-item-menu" routerLinkActive="active-sub-menu" [routerLink]="['/administracao/papeis']"> Papéis </a>
                <a mat-list-item class="mat-list-item-menu" routerLinkActive="active-sub-menu" [routerLink]="['/administracao/usuarios']"> Usuários </a>
            </div>
        </app-menu-expansion-item>
    </ng-container>
    <app-menu-expansion-item [expanded]="isRouteActive('/bolsas')" [disabled]="!this.checkPermissionSoftware(7)" matTooltip="Sessão indisponível" [matTooltipDisabled]="this.checkPermissionSoftware(7)" matTooltipPosition="below" icon="collections_bookmark"
        title="Bolsas de Estudo" actions="true">
        <div list-type="item">
            <ng-template [Feature]="39">
                <a mat-list-item class="mat-list-item-menu" routerLinkActive="active-sub-menu" [routerLink]="['/bolsas/dashboard']"> Dashboard </a>
            </ng-template>
            <ng-template [Feature]="40" permission="2">
                <a mat-list-item class="mat-list-item-menu" routerLinkActive="active-sub-menu" [routerLink]="['/bolsas/processos']">Processos</a>
            </ng-template>
        </div>
        <div list-type="action">
            <ng-template [Feature]="40" permission="1">
                <button mat-flat-button color="primary" routerLinkActive="active-sub-menu" [routerLink]="['/bolsas/processos/novo']" [disabled]="checkIfNewProcessIsActive()">Novo Processo</button>
            </ng-template>
        </div>
    </app-menu-expansion-item>
    <app-menu-expansion-item [expanded]="isRouteActive('/tesouraria')" [disabled]="!this.checkPermissionSoftware(6)" matTooltip="Sessão indisponível" [matTooltipDisabled]="this.checkPermissionSoftware(6)" matTooltipPosition="below" icon="monetization_on"
        title="Tesouraria">
        <div list-type="item">
            <ng-template [Feature]="46">
                <a mat-list-item class="mat-list-item-menu" routerLinkActive="active-sub-menu" [routerLink]="['/tesouraria/dashboard']"> Dashboard </a>
            </ng-template>
            <ng-template [Feature]="51">
                <a mat-list-item class="mat-list-item-menu" routerLinkActive="active-sub-menu" [routerLink]="['/tesouraria/avaliacoes']"> Avaliações </a>
            </ng-template>
            <ng-template [Feature]="47" permission="2">
                <a mat-list-item class="mat-list-item-menu" routerLinkActive="active-sub-menu" [routerLink]="['/tesouraria/distritos']"> Distritos </a>
            </ng-template>
            <ng-template [Feature]="48" permission="2">
                <a mat-list-item class="mat-list-item-menu" routerLinkActive="active-sub-menu" [routerLink]="['/tesouraria/igrejas']"> Igrejas </a>
            </ng-template>
            <ng-template [Feature]="49" permission="2">
                <a mat-list-item class="mat-list-item-menu" routerLinkActive="active-sub-menu" [routerLink]="['/tesouraria/observacoes']"> Observações </a>
            </ng-template>
            <ng-template [Feature]="55" permission="2">
                <a mat-list-item class="mat-list-item-menu" routerLinkActive="active-sub-menu" [routerLink]="['/tesouraria/requisitos']"> Requisitos </a>
            </ng-template>
            <ng-template [Feature]="38" permission="2">
                <a mat-list-item class="mat-list-item-menu" routerLinkActive="active-sub-menu" [routerLink]="['/tesouraria/tesoureiros']"> Tesoureiros </a>
            </ng-template>
        </div>
    </app-menu-expansion-item>
</mat-accordion>