.text-bold {
    font-weight: bold;
}

.permissions-specials {
    margin-left: 20px;
}

.title {
    color: gray;
}

.container-features {
    .margin-top-10 {
        margin-top: 10px;
    }
}

.container-features-error {
    padding: 5px 15px;
    border: 1px solid red;
    border-radius: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-15 {
    margin-top: 15px;
}