.mat-list-item-menu {
    padding-left: 42px !important;
}

.active-sub-menu {
    background-color: rgb(214, 214, 214) !important;
    color: white !important;
}

::ng-deep .mat-expansion-panel .mat-expansion-panel-body {
    padding: 0 0 16px;
}