<app-container-image login="1">
    <div button-type="redirect">
        <a class="text-color" mat-raised-button routerLink="/educacao">
            <mat-icon aria-label="Login">lock_outline</mat-icon>
            Acesso Responsável
        </a>
    </div>
    <div space-type="login">
        <mat-card-header fxLayoutAlign="center">
            <img src="../assets/img/logo_login.png">
        </mat-card-header>
        <mat-card-title class="title padding-top-5 padding-bottom-5" fxLayoutAlign="center">Entre com seu e-mail</mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
            <app-login-dynamic-form (submitted)="submitForm($event)" [loading]="loading" loginName="Email" placeholder="seuemail@email.com">
            </app-login-dynamic-form>
            <a class="link" style="margin-top: 20px" (click)="sendEmailResetPassword()">Esqueceu sua senha?</a>
        </mat-card-content>
    </div>
</app-container-image>