<div class="container">

    <div class="uk-margin-medium-bottom">
        <span class="title">Criar Evento</span>
    </div>

    <div>

        <mat-horizontal-stepper linear labelPosition="bottom" #stepper>
            <mat-step [stepControl]="formInformation">
                <ng-template matStepLabel>Informações do evento</ng-template>
                <app-information-form [formInformation]="formInformation"></app-information-form>
            </mat-step>
            <mat-step [stepControl]="formAdrees">
                <ng-template matStepLabel>Endereço</ng-template>
                <app-adress-form [formAdrees]="formAdrees"></app-adress-form>
            </mat-step>
            <mat-step [stepControl]="formPayments">
                <ng-template matStepLabel>Pagamento</ng-template>
                <app-payments-form [formPayments]="formPayments"></app-payments-form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Cupons de desconto</ng-template>
                <app-coupons-form [formCoupon]="formCoupon">
                </app-coupons-form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Produtos</ng-template>
                <app-products-form [formProduct]="formProduct"></app-products-form>
            </mat-step>
        </mat-horizontal-stepper>

    </div>

</div>