<form [formGroup]="formPayments">

    <div class="uk-flex uk-flex-row">
        <mat-form-field appearance="outline" class="uk-flex-1">
            <mat-label>Valor à vista</mat-label>
            <input type="number" matInput min="1" placeholder="Valor á vista" formControlName="cashValue">
        </mat-form-field>

        <mat-form-field appearance="outline" class="uk-flex-1 uk-margin-small-right uk-margin-small-left">
            <mat-label>Valor parcelado</mat-label>
            <input type="number" matInput min="1" placeholder="Valor parcelado" formControlName="installmentAmount">
        </mat-form-field>

        <mat-form-field appearance="outline" class="uk-flex-1">
            <mat-label>Quantidade de parcelas</mat-label>
            <input type="number" matInput min="1" placeholder="Quantidade de parcelas"
                formControlName="installmentLimit">
        </mat-form-field>
    </div>


    <mat-form-field appearance="outline" class="uk-width-1">
        <input matInput placeholder="Conta do Banco" [matAutocomplete]="auto" formControlName="receiptAccountId">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let a of filteredOptions | async" [value]="a">
                <span> {{a.name}} | </span>
                <small> Conta: {{a.account}} |</small>
                <small> Agencia: {{a.agency}} </small>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button matStepperNext color="primary" (click)="sendPayments()" [disabled]="!formPayments.valid">
        Continuar
    </button>

</form>