<form [formGroup]="formPayments">

  <div class="contianer-input">
    <mat-form-field appearance="outline" class="uk-flex-1">
      <mat-label>Valor à vista</mat-label>
      <input type="number" matInput min="1" placeholder="Valor á vista" formControlName="cashValue">
    </mat-form-field>

    <mat-form-field appearance="outline" class="uk-flex-1 margin-input">
      <mat-label>Valor parcelado</mat-label>
      <input type="number" matInput min="1" placeholder="Valor parcelado" formControlName="installmentAmount">
    </mat-form-field>

    <mat-form-field appearance="outline" class="uk-flex-1">
      <mat-label>Quantidade de parcelas</mat-label>
      <input type="number" matInput min="1" placeholder="Quantidade de parcelas" formControlName="installmentLimit">
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="uk-width-1">
    <mat-label>Tipo de Pagamento</mat-label>
    <mat-select formControlName="paymentType" [(ngModel)]="typePayment">
      <mat-option *ngFor="let m of methosPayments" [value]="m.id"> {{ m.name }} </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="uk-width-1" *ngIf="typePayment === '2' || typePayment === '1'">
    <mat-label>Contas Bancarias</mat-label>
    <mat-select formControlName="bankAccountId">
      <mat-option *ngFor="let b of bankAccounts" [value]="b.id">
        {{ b?.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="uk-width-1" *ngIf="typePayment === '4' || typePayment === '1'">
    <mat-label>Contas Cielo</mat-label>
    <mat-select formControlName="cieloAccountId">
      <mat-option *ngFor="let b of cieloAccounts" [value]="b.id">
        {{ b?.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button matStepperNext color="primary" [disabled]="!formPayments.valid">
    Continuar
  </button>

</form>