.fields-form{
    width: 300px;
    margin-left: 15px;
    padding: 15px;
}

.decription-column{
    width: 170px;
}

.alert{
    margin-top:20px;
    
    span{
        border-radius: 10px;
    }

}

