<div class="container uk-animation-slide-top-small uk-padding-large uk-padding-remove-left uk-padding-remove-right">

    <div class="uk-text-center header">
        <span class="uk-text-large uk-display-block uk-text-uppercase"> adventech </span>
        <a class="uk-text-uppercase uk-margin-small-top uk-text-small" routerLink="../">
            <i uk-icon="arrow-left"></i>
            <span>Voltar</span>
        </a>
    </div>

    <div class="container_subscription">
        <div class="uk-flex-1 form">
            <mat-horizontal-stepper labelPosition="bottom" [linear]="true" #stepper>
                <mat-step [stepControl]="formIdentity">
                    <ng-template matStepLabel>Identificação</ng-template>
                    <app-identification (emitterEvent)="fields($event)" [formInformation]="formIdentity">
                    </app-identification>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Pagamento</ng-template>
                    <app-payment [formBillet]="formBillet" [formcreditCard]="formcreditCard"
                        (methodPayment)="getTypePayment($event)"></app-payment>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
        <div class="information">

            <div>
                <span class="uk-text-large uk-display-block uk-text-center">
                    {{ event?.name }}
                </span>
                <span class="uk-flex uk-flex-row uk-flex-middle uk-margin-medium-top">
                    <i uk-icon="location" class="uk-margin-small-right"></i>
                    <span>
                        {{ event?.street }} - {{ event?.number }} - {{ event?.neighborhood }} - {{ event?.city }}.
                    </span>
                </span>
                <span class="uk-flex uk-flex-row uk-flex-middle uk-margin-small-top">
                    <i uk-icon="clock" class="uk-margin-small-right"></i>
                    <span>
                        {{ event?.realizationDateBegin | date:'dd/MM/yyyy hh:mm' }} -
                        {{ event?.realizationDateEnd | date:'dd/MM/yyyy hh:mm' }}
                    </span>
                </span>
            </div>

            <div class="uk-margin-medium-top" *ngIf="products?.length > 0">
                <span class="uk-text-uppercase uk-text-muted">Produtos</span>
                <div class="uk-flex uk-flex-row" *ngFor="let product of products; let i = index">
                    <mat-checkbox (change)="addProduct(product.id,product.value,i,$event)">
                        <div class="uk-flex uk-flex-row">
                            <div class="uk-flex-1">
                                <span> {{ product?.name }} </span>
                            </div>
                            <span> {{ product?.value | currency:"BRL" }} </span>
                        </div>
                    </mat-checkbox>
                </div>
            </div>


            <div class="uk-margin-medium-top uk-flex uk-flex-row">
                <span class="uk-text-uppercase uk-flex-1">SubTotal</span>
                <span> {{ event?.cashValue | currency:'BRL' }} </span>
            </div>

            <div class="uk-flex uk-flex-row">
                <span class="uk-text-uppercase uk-flex-1">Desconto</span>
                <span> {{ discount | currency:'BRL' }} </span>
            </div>

            <div class="uk-flex uk-flex-row">
                <span class="uk-text-uppercase uk-flex-1 uk-text-bold">Total</span>
                <span> {{ total | currency:'BRL' }} </span>
            </div>

            <form [formGroup]="formCoupon" class="uk-margin-medium-top">
                <div class="uk-flex uk-flex-row">
                    <div class="uk-flex-1">
                        <input type="text" class="coupon_input" formControlName="name" placeholder="Nome do coupon">
                    </div>
                    <button (click)="sendCoupon()" class="coupon_btn" [disabled]="couponId?.length > 0">
                        Aplicar Desconto
                    </button>
                </div>
            </form>

            <div class="uk-margin-medium-top">
                <button (click)="pay()" [disabled]="!formBillet.valid && !formcreditCard.valid" class="btn">
                    Finalizar
                </button>
            </div>

        </div>
    </div>

</div>