<div class="container">

    <div class="uk-flex uk-flex-row uk-margin-medium-top">
        <div class="uk-flex-1 uk-margin-small-right form">

            <mat-horizontal-stepper labelPosition="bottom" [linear]="true" #stepper>
                <mat-step [stepControl]="formInformation">
                    <ng-template matStepLabel>Identificação</ng-template>
                    <app-identification [formInformation]="formInformation"></app-identification>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Pagamento</ng-template>
                    <app-payment [typePayment]="boleto"></app-payment>
                    {{ event | json }}
                </mat-step>
            </mat-horizontal-stepper>

        </div>
        <div class="information">

            <div>
                <span class="uk-text-large uk-display-block uk-text-center">
                    {{ event?.name }}
                </span>
                <span class="uk-flex uk-flex-row uk-flex-middle uk-margin-medium-top">
                    <i uk-icon="location" class="uk-margin-small-right"></i>
                    <span>
                        {{ event?.street }} - {{ event?.number }} - {{ event?.neighborhood }} - {{ event?.city }}.
                    </span>
                </span>
                <span class="uk-flex uk-flex-row uk-flex-middle uk-margin-small-top">
                    <i uk-icon="clock" class="uk-margin-small-right"></i>
                    <span>
                        {{ event?.realizationDateBegin | date:'dd/MM/yyyy hh:mm' }} -
                        {{ event?.realizationDateEnd | date:'dd/MM/yyyy hh:mm' }}
                    </span>
                </span>
            </div>

            <div class="uk-margin-medium-top">
                <span class="uk-text-uppercase uk-text-muted">Produtos</span>
                <div class="uk-flex uk-flex-row" *ngFor="let product of products">
                    <input type="checkbox">
                    <span class="uk-flex-1"> {{ product?.name }} </span>
                    <span> {{ product?.value | currency:"BRL" }} </span>
                </div>
            </div>


            <div class="uk-margin-medium-top uk-flex uk-flex-row">
                <span class="uk-text-uppercase uk-flex-1">SubTotal</span>
                <span> {{ event?.cashValue | currency:'BRL' }} </span>
            </div>

            <div class="uk-flex uk-flex-row">
                <span class="uk-text-uppercase uk-flex-1">Desconto</span>
                <span> {{ 0 | currency:'BRL' }} </span>
            </div>

            <div class="uk-flex uk-flex-row">
                <span class="uk-text-uppercase uk-flex-1 uk-text-bold">Total</span>
                <span> {{ 140 | currency:'BRL' }} </span>
            </div>

        </div>
    </div>

</div>