.container_subscription{
    display: flex;
    flex-direction: row;
}

.information{
    width: 350px;
    padding: 25px 10px;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0 0 20px -5px rgba(0,0,0,.10);
}

.form{
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0 0 20px -5px rgba(0,0,0,.10);
    padding: 15px;
}

.container-values{
    margin:15px 0;
    padding: 15px 0;
}

.cupons{
    text-decoration: line-through;;
}

.btn{
    width: 100%;
    padding: 15px 0;
    border:none;
    border-radius: 5px;
    background-color: #4C55BE;
    color:#FFF;
    transition: .3;
}

.btn:disabled{
    background: #eee;
    color:#555;
}

.coupon_input{
    width: 100%;
    padding: 12px;
    border-radius: 5px 0 0 5px;
    border:1px solid #eee;
}

.coupon_input:active{
    outline: none;
}

.coupon_btn{
    border-radius: 0 5px 5px 0;
    border:none;
    background-color: #4C55BE;
    padding: 0 10px;
    color:#FFF;
}

.coupon_btn:disabled{
    background: #eee;
    color:#555;
}

@media(max-width:800px){
    .container_subscription{
        flex-direction: column;
    }

    .information{
        width: 100%;
        margin-top:20px
    }
}