<div class="container">

    <div class="uk-flex uk-flex-row uk-margin-medium-top">
        <div class="uk-flex-1">

            <mat-horizontal-stepper labelPosition="bottom" [linear]="true" #stepper>
                <mat-step>
                    <ng-template matStepLabel>Identificação</ng-template>
                    ola1
                </mat-step>
                <mat-step *ngIf="products?.length > 0">
                    <ng-template matStepLabel>Adicionais</ng-template>
                    ola2
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Pagamento</ng-template>
                    ola3
                </mat-step>
            </mat-horizontal-stepper>

        </div>
        <div class="information">

            <div>
                <span class="uk-text-large uk-display-block uk-text-center">
                    {{ nameEvent }}
                </span>
                <span class="uk-flex uk-flex-row uk-flex-middle uk-margin-medium-top">
                    <i uk-icon="location" class="uk-margin-small-right"></i>
                    <span>
                        Rua Saguçu 355 - Saguaçu - Joinville.
                    </span>
                </span>
                <span class="uk-flex uk-flex-row uk-flex-middle uk-margin-small-top">
                    <i uk-icon="clock" class="uk-margin-small-right"></i>
                    <span>
                        18/04/2020 15:30 - 19/04/2020 14:30
                    </span>
                </span>
            </div>

            <div class="uk-margin-medium-top">
                <span class="uk-text-uppercase uk-text-muted">Produtos</span>
                <div class="uk-flex uk-flex-row">
                    <span class="uk-flex-1"> Produto 1 </span>
                    <span> {{ 100 | currency:"BRL" }} </span>
                </div>
                <div class="uk-flex uk-flex-row">
                    <span class="uk-flex-1"> Produto 1 </span>
                    <span> {{ 100 | currency:"BRL" }} </span>
                </div>
            </div>


            <div class="uk-margin-medium-top uk-flex uk-flex-row">
                <span class="uk-text-uppercase uk-flex-1">SubTotal</span>
                <span> {{ 140 | currency:'BRL' }} </span>
            </div>

            <div class="uk-flex uk-flex-row">
                <span class="uk-text-uppercase uk-flex-1">Desconto</span>
                <span> {{ -140 | currency:'BRL' }} </span>
            </div>

            <div class="uk-flex uk-flex-row">
                <span class="uk-text-uppercase uk-flex-1 uk-text-bold">Total</span>
                <span> {{ 140 | currency:'BRL' }} </span>
            </div>

            <div class="uk-margin-medium-top">
                <mat-form-field appearance="outline" class="uk-width-1">
                    <mat-label>Cupom de Desconto</mat-label>
                    <input matInput placeholder="Cupom de Desconto">
                </mat-form-field>

                <button mat-flat-button color="primary" class="uk-width-1">Aplicar</button>
            </div>

        </div>
    </div>

</div>