.information{
    width: 350px;
    padding: 25px 10px;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0 0 20px -5px rgba(0,0,0,.10);
}

.form{
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0 0 20px -5px rgba(0,0,0,.10);
    padding: 15px;
}

.container-values{
    margin:15px 0;
    padding: 15px 0;
}

.cupons{
    text-decoration: line-through;;
}