<app-form-sidenav-right (closeEmitted)="closeSidenav()" #sidenavRight></app-form-sidenav-right>
<app-layout-data>
    <div space-type="header" fxLayout="column" fxLayoutAlign="space-between">
        <app-header-data space-type="header" name="Usuários" (searchEmitted)="search($event)" filter="true" (filterEmitted)="expandPanel(matExpansionPanel)">
            <div space-type="title" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                <span fxFlex.gt-sm="50%" fxFlex>Nome</span>
                <span fxFlex.gt-md="30%" fxFlex.lt-md="50%" fxHide.lt-sm>E-mail</span>
                <span fxFlex="18%" fxHide.lt-md>Aniversário</span>
            </div>
            <div space-type="filter">
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel #matExpansionPanel hideToggle="true">
                        <app-filter [data]="filter" placeholder="Módulos" emptyMessage="A unidade não possui módulos para serem filtrados" (filterEmitted)="checkModule($event)"></app-filter>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </app-header-data>
    </div>
    <div space-type="container" fxLayout="column" class="container" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [scrollWindow]="false">
        <mat-accordion>
            <div *ngFor="let user of users | orderBy: 'name'; index as i">
                <mat-expansion-panel hideToggle *ngIf="i <= showList">
                    <mat-expansion-panel-header>
                        <mat-panel-description fxLayout="row" fxLayoutAlign="start center" fxFlex>
                            <span fxFlex.gt-sm="50%" fxFlex class="break-line">{{ user.name }}</span>
                            <span fxFlex.gt-md="30%" fxFlex.lt-md="50%" fxHide.lt-sm class="break-line">{{ user?.email }}</span>
                            <ng-container *ngIf="user.birthday; else notInformedBirthday">
                                <span fxFlex="18%" class="break-line" fxHide.lt-md>{{ (user.birthday | date: 'dd/MM/yyyy') }}</span>
                            </ng-container>
                            <ng-template #notInformedBirthday>
                                <span fxFlex="18%" class="break-line" fxHide.lt-md>Não Informado</span>
                            </ng-template>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div fxLayout="column" class="description">
                        <div fxLayout="row">
                            <p class="title-description">Informações do Usuário</p>
                        </div>
                        <div fxLayout="row wrap" fxLayoutGap="5px" fxHide.gt-xs>
                            <span class="text-bold">E-mail:</span>
                            <span>{{ user.email }}</span>
                        </div>
                        <div fxLayout="row wrap" fxLayoutGap="5px" fxHide.gt-sm>
                            <ng-container *ngIf="user.birthday; else notInformedBirthdayDetails">
                                <span class="text-bold">Aniversário:</span>
                                <span>{{ user.birthday | date: 'dd/MM/yyyy' }}</span>
                            </ng-container>
                            <ng-template #notInformedBirthdayDetails>
                                <span class="text-bold">Aniversário:</span>
                                <span>Não Informado</span>
                            </ng-template>
                        </div>
                        <div fxLayout="row wrap" fxLayoutGap="5px">
                            <div fxLayout="column" *ngIf="user.profiles !== undefined && user.profiles !== null && user.profiles.length !== 0; else notProfiles" fxFlex matLine>
                                <div fxLayout="row" fxLayoutGap="5px" *ngFor="let profile of user.profiles">
                                    <span class="text-bold">Papel (módulo):</span>
                                    <span> {{ profile.name }} ({{ getModuleName(profile.software) }})</span>
                                </div>
                            </div>
                            <ng-template #notProfiles>
                                <p class="text-bold break-line margin-top-small">Nenhum papel cadastrado para o usuário.</p>
                            </ng-template>
                        </div>
                    </div>
                    <mat-action-row>
                        <button mat-button color="warn" matTooltip="Excluir Usuário" (click)="removeUser(user)">REMOVER</button>
                        <button mat-button color="primary" matTooltip="Editar Usuário" (click)="editUser(user)">EDITAR</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
</app-layout-data>
<button mat-fab color="accent" class="mat-fab-right" [routerLink]="['novo']">
  <mat-icon aria-label="Adicionar usuário">add</mat-icon>
</button>