<div fxLayout="row" fxFlexFill fxLayoutAlign="center" *ngIf="!!loading" style="padding-top: 25vh;">
    <mat-spinner></mat-spinner>
</div>
<div fxLayout="column" ngStyle.gt-sm="margin: 0px 40px" ngStyle.lt-md="margin: 0px 10px" *ngIf="!loading">
    <app-header-form title="Tesoureiros"></app-header-form>
    <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="column" fxFlex>
        <div fxLayout="column" fxFlex="50%">
            <mat-horizontal-stepper fxFlex linear>
                <mat-step label="Pessoal" [stepControl]="formPersonal">
                    <form [formGroup]="formPersonal" #formDirective="ngForm" fxLayout="column" fxLayoutGap="60px" (keydown.enter)="$event.preventDefault()">
                        <div fxLayout="column">
                            <mat-form-field fxFlex>
                                <input matInput type="text" formControlName="name" placeholder="Nome" required minlength="3" maxlength="200">
                                <mat-error *ngIf="formPersonal.get('name').hasError('required')">Este campo é obrigatório</mat-error>
                                <mat-error *ngIf="formPersonal.get('name').hasError('minlength')">Nome pequeno, digite um nome com mais de 3 dígitos</mat-error>
                                <mat-error *ngIf="formPersonal.get('name').hasError('maxlenght')">Nome grande, digite um nome com menos de 200 dígitos</mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="Igreja" formControlName="churchId" required>
                                    <mat-option *ngFor="let church of lstChurches" [value]="church.id">
                                        ({{ church.code }}) {{ church.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="formPersonal.get('churchId').hasError('required')">Este campo é obrigatório</mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="Cargo" formControlName="functionId" required>
                                    <mat-option [value]="1">Tesoureiro (a)</mat-option>
                                    <mat-option [value]="2">Tesoureiro (a) Associado (a)</mat-option>
                                    <mat-option [value]="3">Tesoureiro (a) Assistente</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formPersonal.get('functionId').hasError('required')">Este campo é obrigatório</mat-error>
                            </mat-form-field>

                            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
                                <mat-form-field fxFlex>
                                    <input matInput [matDatepicker]="pickerRegistration" placeholder="Tempo no Cargo" formControlName="dateRegister" [min]="dates.min" [max]="dates.now">
                                    <mat-datepicker-toggle matSuffix [for]="pickerRegistration"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerRegistration></mat-datepicker>
                                </mat-form-field>
                                <div fxFlex *ngIf="dateRegisterValid()">
                                    <div class="text-bold">Tempo no Cargo Estimado: </div>{{ getSelectDateTime() }}
                                </div>
                            </div>
                            <mat-form-field fxFlex>
                                <input matInput type="text" formControlName="cpf" placeholder="CPF" mixlength="14" maxlength="14" InputMask="999.999.999-99" pattern="[0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}">
                                <mat-error *ngIf="formPersonal.get('cpf').hasError('pattern')">
                                    Digite um CPF válido
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlexFill>
                                <input matInput ng-bind="date | date:'MM/dd/yyyy'" [matDatepicker]="pickerBirth" placeholder="Data de Nascimento" formControlName="dateBirth" [min]="dates.min" [max]="dates.max">
                                <mat-datepicker-toggle matSuffix [for]="pickerBirth"></mat-datepicker-toggle>
                                <mat-datepicker #pickerBirth></mat-datepicker>
                            </mat-form-field>

                            <mat-list>
                                <h3 mat-subheader style="padding: 0">Gênero</h3>
                                <mat-radio-group formControlName="genderId" name="gender" aria-label="Gênero">
                                    <mat-radio-button value="1" val aria-label="Masculino" style="margin: 0" [checked]="treasurer == undefined || treasurer.gender == undefined || treasurer.gender == 1">Masculino</mat-radio-button>
                                    <mat-radio-button value="2" aria-label="Feminino" [checked]="treasurer.gender == 2">Feminino</mat-radio-button>
                                </mat-radio-group>
                            </mat-list>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <button mat-button type="button" routerLink="/tesouraria/tesoureiros">CANCELAR</button>
                            <button mat-stroked-button matStepperNext type="button" color="primary">PRÓXIMO</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step label="Contato" [stepControl]="formContact">
                    <form [formGroup]="formContact" fxLayout="column">
                        <div fxLayout="column">
                            <mat-form-field>
                                <input matInput placeholder="Email" formControlName="email" maxlength="100">
                                <mat-error *ngIf="formContact.get('email').hasError('pattern')">
                                    Digite um email válido
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <textarea matInput placeholder="Melhor Tipo de Contato" formControlName="contact" maxlength="300" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="4"></textarea>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput #postalCode mixlength="8" maxlength="9" placeholder="CEP" formControlName="cep" InputMask="99999-999" pattern="[0-9]{5}-[0-9]{3}$">
                                <mat-hint align="end">{{ postalCode.value.length
                                    < 5 ? postalCode.value.length : postalCode.value.length - 1 }} / 8</mat-hint>
                                        <mat-error *ngIf="formContact.get('cep').hasError('pattern')">
                                            Digite um CEP válido
                                        </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <textarea matInput placeholder="Endereço" formControlName="address" maxlength="200" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3"></textarea>
                            </mat-form-field>

                            <mat-form-field>
                                <textarea formControlName="addressComplement" matInput placeholder="Complemento" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" maxlength="500"></textarea>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" *ngFor="let phone of formPhones.controls; let i = index">
                            <div fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="10px" [formGroup]="phone" fxFlex>
                                <mat-form-field fxFlex="28%" fxFlex.gt-lg="100%">
                                    <input type="tel" matInput placeholder="Telefone" formControlName="number" required maxlength="18" [InputMask]="maskPhone(phone)" pattern="\([0-9]{2}\) [0-9][0-9]{3,4}-[0-9]{3,5}$">
                                </mat-form-field>
                                <div fxLayout="row" fxLayoutGap="3px">
                                    <mat-form-field fxFlex="35%" fxFlex.gt-lg="100%">
                                        <mat-select placeholder="Tipo" formControlName="type">
                                            <mat-option value="Celular">Celular</mat-option>
                                            <mat-option value="Comercial">Comercial</mat-option>
                                            <mat-option value="Fixo">Fixo</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div fxLayout="row">
                                        <div fxLayout="row wrap" fxLayoutGap="3px" *ngIf="phone.value.type === 'Celular'" matTooltip="Selecione o(s) serviços utilizados">
                                            <mat-checkbox formControlName="isWhatsapp" fxFlex>
                                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                <path fill="#000000" d="M16.75,13.96C17,14.09 17.16,14.16 17.21,14.26C17.27,14.37 17.25,14.87 17,15.44C16.8,16 15.76,16.54 15.3,16.56C14.84,16.58 14.83,16.92 12.34,15.83C9.85,14.74 8.35,12.08 8.23,11.91C8.11,11.74 7.27,10.53 7.31,9.3C7.36,8.08 8,7.5 8.26,7.26C8.5,7 8.77,6.97 8.94,7H9.41C9.56,7 9.77,6.94 9.96,7.45L10.65,9.32C10.71,9.45 10.75,9.6 10.66,9.76L10.39,10.17L10,10.59C9.88,10.71 9.74,10.84 9.88,11.09C10,11.35 10.5,12.18 11.2,12.87C12.11,13.75 12.91,14.04 13.15,14.17C13.39,14.31 13.54,14.29 13.69,14.13L14.5,13.19C14.69,12.94 14.85,13 15.08,13.08L16.75,13.96M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C10.03,22 8.2,21.43 6.65,20.45L2,22L3.55,17.35C2.57,15.8 2,13.97 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12C4,13.72 4.54,15.31 5.46,16.61L4.5,19.5L7.39,18.54C8.69,19.46 10.28,20 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z"/>
                                              </svg>
                                            </mat-checkbox>
                                            <mat-checkbox formControlName="isTelegram" fxFlex>
                                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                <path fill="#000000" d="M9.78,18.65L10.06,14.42L17.74,7.5C18.08,7.19 17.67,7.04 17.22,7.31L7.74,13.3L3.64,12C2.76,11.75 2.75,11.14 3.84,10.7L19.81,4.54C20.54,4.21 21.24,4.72 20.96,5.84L18.24,18.65C18.05,19.56 17.5,19.78 16.74,19.36L12.6,16.3L10.61,18.23C10.38,18.46 10.19,18.65 9.78,18.65Z"/>
                                              </svg>
                                            </mat-checkbox>
                                        </div>
                                        <div fxLayout="row wrap">
                                            <button mat-icon-button type="button" *ngIf="formPhones.controls.length > 1 || i !== 0" (click)="removePhone(i)">
                                              <mat-icon aria-label="Remover Telefone">close</mat-icon>
                                            </button>
                                            <button *ngIf="i + 1 >= formPhones.controls.length" mat-icon-button type="button" color="primary" (click)="addPhone()">
                                              <mat-icon aria-label="Adicionar Telefone">add</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between" fxFlexOffset="40px">
                            <button mat-button matStepperPrevious type="button">VOLTAR</button>
                            <button mat-raised-button type="submit" (click)="saveTreasurer()" color="primary" [disabled]="isSending">SALVAR</button>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>