<app-layout-container [title]="'Configurações'" [buttonLabel]="'Editar Perfil'" (buttonHeader)="changeComponent($event)">
    <form [formGroup]="form" novalidate>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxLayout="column" fxFlex fxFlex.gt-md="50%" class="padding-form card">
                <p class="section-form">Alterar Senha</p>
                <mat-divider></mat-divider>
                <div class="form" fxLayoutGap="20px" fxLayout="column" fxFlex>
                    <mat-form-field>
                        <input matInput type="password" formControlName="currentPassword" placeholder="Senha atual">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-error *ngIf="form.get('currentPassword').hasError('required')">Este campo é obrigatório</mat-error>
                    </mat-form-field>
                    <div formGroupName="passwords" fxLayout="column" fxLayoutGap="20px" fxLayoutGap.gt-md="15px">
                        <mat-form-field hintLabel="Tamanho mínimo: 6 caracteres">
                            <input matInput formControlName="new" placeholder="Nova senha" [type]="hideNew ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="form.get('passwords').get('new').hasError('required')">Este campo é obrigatório</mat-error>
                            <mat-error *ngIf="form.get('passwords').get('new').hasError('minlength')">Digite uma senha com tamanho maior que 6 dígitos</mat-error>
                        </mat-form-field>
                        <div *ngIf="form.get('passwords').get('new').value != null" style="margin-top: 5%" fxFlex>
                            <app-strength-meter [password]="form.get('passwords').get('new').value" (strength)="onStrength($event)"></app-strength-meter>
                            <mat-error [ngClass]="{'color-font-grey': strength >= 2, 'font-feedback': strength < 2 }">{{ getMensage() }}</mat-error>
                            <!-- <app-password-feedback *ngIf="form.get('passwords').get('new').errors?.strongPassword" [feedback]="form.get('passwords').get('new').errors.strongPassword.feedback">
                        </app-password-feedback> -->
                        </div>
                        <mat-form-field>
                            <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirm" placeholder="Confirmar nova senha" />
                            <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="form.get('passwords').get('confirm').hasError('required')">Este campo é obrigatório</mat-error>
                            <mat-error *ngIf="form.get('passwords').get('confirm').hasError('minlength')">Digite uma senha com tamanho maior que 6 dígitos</mat-error>
                        </mat-form-field>
                        <mat-error *ngIf="form.get('passwords').hasError('mismatchedPasswords') && form.get('passwords').get('confirm').dirty" style="font-size: 75%;">As senhas não conferem!</mat-error>
                        <div fxLayout="column" fxLayoutAlign="start end">
                            <div fxFlex fxFlexOffset="5%">
                                <button mat-raised-button type="submit" (click)="onSubmit()" color="primary" [disabled]="form.invalid">SALVAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</app-layout-container>