<div fxLayout="row" fxFlexFill fxLayoutAlign="center" *ngIf="loading" style="padding-top: 20vh;">
    <mat-spinner></mat-spinner>
</div>
<form [formGroup]="formAvaliation" fxLayout="column" ngStyle.gt-sm="margin: 0px 20px" ngStyle.lt-md="margin: 0px 5px" *ngIf="!loading" (keydown.enter)="$event.preventDefault()">
    <app-header-form [title]="getTitleLabel()"></app-header-form>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
        <div fxLayout="column wrap" fxFlex="50%">
            <app-observations-information class="observation-info"></app-observations-information>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Data da Avaliação" formControlName="date">
                <mat-error *ngIf="formAvaliation.get('date').hasError('required')">Este campo é obrigatório</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <app-avaliation-requirement-form [avaliation]="avaliation" [type]="type" [formAvaliation]="formAvaliation" [church]="church"></app-avaliation-requirement-form>
            <div fxLayout="row" fxLayoutAlign="space-between" fxFlexOffset="10px">
                <a mat-button type="button" style="border: 1px solid black" routerLink="/tesouraria/avaliacoes">CANCELAR</a>
                <button mat-raised-button type="submit" (click)="saveAvaliation()" color="primary" [disabled]="isSending">SALVAR</button>
            </div>
        </div>
    </div>
</form>
