<mat-toolbar color="primary" style="background-color: #2094c8" class="mat-elevation-z6">
    <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

    <img src="../../../../favicon.ico" style="width: 30px; height: 30px; margin-left: 20px;" [routerLink]="['/']" class="click" />
    <div style="margin-left: 10px;" [routerLink]="['/']" class="click">Adven.tech</div>
    <mat-menu [overlapTrigger]="false" #appMenuSoftware="matMenu">
        <div *ngFor="let item of (lstUnits)">
            <button mat-menu-item (click)="updateUnit(item);" [class.selected]="unit?.id === item.id" [disabled]="unit?.id === item.id">
                <mat-icon>fiber_manual_record</mat-icon><span>{{ item.name }}</span>
            </button>
        </div>
    </mat-menu>
    <span class="fill-space"></span>
    <div fxLayout="row" fxLayoutAlign="end">
        <button mat-button [matMenuTriggerFor]="appMenuSoftware" *ngIf="lstUnits.length > 1">
            <span fxShow fxHide.xs>{{ unit.name }}</span><mat-icon class="margin-left-10">business</mat-icon>
        </button>
        <button mat-button *ngIf="lstUnits.length == 1" disabled style="color:rgb(255, 255, 255);">
            <span fxShow fxHide.xs>{{ unit.name }}</span><mat-icon class="margin-left-10">business</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" fxHide fxShow.xs>
          <!--<mat-icon class="mat-36" *ngIf="app.currentUser.photoDate === ''">account_circle</mat-icon>
              <img class="material-icons mat-36 circle-18" src="{{app.currentUser.photoUrl}}?size=36" *ngIf="app.currentUser.photoDate !== ''">-->
        </button>
        <button mat-button [matMenuTriggerFor]="appMenu" fxShow fxHide.xs>
          <table style="line-height: normal; text-align: right;">
            <tr>
              <td>
                {{ app.currentUser.name }}
              </td>
            </tr>
          </table>
        </button>
    </div>
    <mat-menu [overlapTrigger]="false" xPosition="before" #appMenu="matMenu">
        <!-- <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Editar perfil</span>
        </button> -->
        <button mat-menu-item (click)="changePassword()">
            <mat-icon>lock_outline</mat-icon>
            <span>Altera senha</span>
        </button>
        <button mat-menu-item (click)="logoff()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Sair</span>
    </button>
    </mat-menu>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
    <mat-drawer #sidenav class="sidenav-left mat-elevation-z5" [mode]="isOpen ? 'side' : 'over'" [opened]="isOpen">
        <mat-nav-list id="nav-list-menu" [ngClass]="{'nav-list-mobile': isMobile, 'nav-list-web': !isMobile}">
            <mat-accordion>
                <mat-expansion-panel [expanded]="isRouteActive('/tesouraria')" [disabled]="!checkPermission(1)" matTooltip="Sessão indisponível para a sua unidade" [matTooltipDisabled]="checkPermission(1)" matTooltipPosition="after">
                    <!--Novo Módulo-->
                    <mat-expansion-panel-header class="background-side-nav">
                        <mat-panel-title>Tesouraria</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLinkActive="active-sub-menu" [routerLink]="['/tesouraria/tesoureiros']">Tesoureiros</a>
                </mat-expansion-panel>
                
                <mat-expansion-panel [expanded]="isRouteActive('/bolsas')" [disabled]="!checkPermissionScholarship()" matTooltip="Sessão indisponível para a sua unidade" [matTooltipDisabled]="checkPermissionScholarship()" matTooltipPosition="after">
                    <!--Novo Módulo-->
                    <mat-expansion-panel-header class="background-side-nav">
                        <mat-panel-title [routerLink]="['/bolsas/dashboard']">Bolsas</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLinkActive="active-sub-menu" [routerLink]="['/bolsas/processos']">Processos</a>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
    </mat-drawer>

    <div class="page-container mat-elevation-z4" fxFlex="94%">
        <router-outlet></router-outlet>
        <div [ngStyle]="{'position': 'relative'}">
            <footer fxLayout="row">
                <div fxFlex="155px" class="footer-unit">©FORLOGIC 2004 - {{year}}</div>
                <div fxFlex="145px" class="footer-software">
                    <div style="width: 90px; float: left">Adven.tech</div>
                    <div style="width: 30px; float: right; text-align: right">v1.0</div>
                </div>
            </footer>
        </div>
    </div>

    <mat-drawer #drawerR class="sidenav-right mat-elevation-z2" [mode]="isOpen ? 'side' : 'over'" opened="false" align="end">
        <div class="track-close" fxLayout="row">
            <button mat-icon-button (click)="drawerR.toggle()">
                  <mat-icon aria-label="Fechar Sidenav" matTooltip="Fechar">close</mat-icon>
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="95%">
                <router-outlet name="sidenav"></router-outlet>
            </div>
        </div>
    </mat-drawer>
</mat-drawer-container>