<mat-sidenav-container class="sidebar-container">
    <mat-sidenav class="sidebar" #sidenav [mode]="mode.value" [opened]="open">

        <div class="uk-text-center uk-margin-small-bottom">
            <div class="uk-display-block header_icon">
                <i uk-icon="icon:calendar;ratio:2"></i>
            </div>
        </div>

        <ul *ngIf="isLogin">
            <a routerLink="/eventos">
                <li routerLinkActive="actived">
                    <i uk-icon="calendar" class="uk-margin-small-right"></i>
                    <span>Eventos</span>
                </li>
            </a>
            <a routerLink="/configuracoes">
                <li routerLinkActive="actived">
                    <i uk-icon="cog" class="uk-margin-small-right"></i>
                    <span>Configurações</span>
                </li>
            </a>
        </ul>

        <ul *ngIf="!isLogin">
            <a routerLink="/adventech">
                <li routerLinkActive="actived">
                    <i uk-icon="home" class="uk-margin-small-right"></i>
                    <span>Adventech</span>
                </li>
            </a>
        </ul>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
