<form [formGroup]="form" ngStyle.gt-sm="margin: 0px 40px" ngStyle.lt-md="margin: 0px 10px">
  <div fxLayout="row" fxLayoutAlign="start" class="margin-bottom-50">
    <div fxFlex>
      <h2 class="title">{{ store.churchAvaliation?.church?.name }} - {{ getTitleLabel() }}</h2>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="column" fxFlex class="margin-bottom-30">
    <div fxLayout="column" fxFlex="50%">
      <br/>
      <a mat-button routerLink=".">Observações</a>
      <br/>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Data da chegada"  formControlName="date">
        <mat-error *ngIf="form.get('date').hasError('required')">Este campo é obrigatório</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br/>
      <div>
        <div *ngFor="let avaliationRequirement of avaliationRequirements; index as i">
          <mat-panel-description fxLayout="row" fxFlex>
            <span fxFlex fxFlex.gt-sm="20%" style="white-space: line-wrap;">
              {{ avaliationRequirement.requirement.name }}
            </span>
            <span fxFlex fxFlex.gt-sm="20%" style="white-space: line-wrap;">
              <span style="padding: 5px">0</span>
              <mat-slide-toggle [checked]="avaliationRequirement.check" (change)="updateCheck(avaliationRequirement)"></mat-slide-toggle>
              <span style="padding: 5px">{{ avaliationRequirement.requirement.score }}</span>
            </span>
          </mat-panel-description>
        </div>
        <div>
          <mat-panel-description fxLayout="row" fxFlex>
            <span fxFlex fxFlex.gt-sm="20%" style="white-space: line-wrap;">
              <b>TOTAL</b>
            </span>
            <span fxFlex fxFlex.gt-sm="20%" style="white-space: line-wrap;">
              <b>{{ total }}</b>
            </span>
          </mat-panel-description>
        </div>
      </div>
      <div fxFlex="100%" fxFlexOffset="40px">
        <div fxLayout="row" fxLayoutAlign="space-between" class="margin-buttons margin-bottom-50">
          <a (click)="closeSidenav()">
            <back-button></back-button>
          </a>
          <button mat-raised-button type="submit" (click)="saveAvaliation()" color="primary">SALVAR</button>
        </div>
      </div>
    </div>
  </div>
</form>
