<div class="uk-flex uk-flex-row uk-margin-small-top uk-margin-small-bottom">
    <div class="uk-flex-1"></div>
    <div>
        <button class="btn_new_bank_account" (click)="OpenFormCieloAccount()">Nova conta</button>
    </div>
</div>

<div class="bankAccountList">

    <div class="uk-padding-small uk-text-center" *ngIf="accounts?.length === 0">
        <span>Você não tem contas cadastradas</span>
    </div>

    <div *ngIf="accounts?.length > 0">
        <div class="uk-flex uk-flex-row uk-margin-small-bottom" style="border-bottom: 1px solid #eee;">
            <div class="uk-flex-1 padding">
                <span class="uk-text-uppercase uk-text-small">nome</span>
            </div>
            <div class="uk-flex-1 padding">
                <span class="uk-text-uppercase uk-text-small">Merchant ID</span>
            </div>
            <div class="uk-flex-1 padding">
                <span class="uk-text-uppercase uk-text-small">Merchant Key</span>
            </div>
        </div>
    </div>

    <div *ngIf="accounts?.length > 0">
        <div class="bank_account" *ngFor="let c of accounts">
            <div class="uk-flex-1 padding">
                <span> {{ c?.name }} </span>
            </div>
            <div class="uk-flex-1 padding">
                <span>{{ c?.merchantId }} </span>
            </div>
            <div class="uk-flex-1 padding">
                <span>{{ c?.merchantKey }} </span>
            </div>
            <div>
                <a class="btn_border btn_border_blue" (click)="UpdateOpenFormCieloAccount(c.id)" uk-icon="pencil"></a>
                <a class="btn_border btn_border_red" (click)="Remove(c.id)" uk-icon="trash"></a>
            </div>
        </div>
    </div>

</div>