<div class="uk-flex uk-flex-row uk-margin-small-top uk-margin-small-bottom">
    <div class="uk-flex-1"></div>
    <div>
        <button class="btn_new_bank_account" (click)="OpenDialogFields()">Novo Campo Adicional</button>
    </div>
</div>

<div class="bankAccountList">

    <div class="uk-padding-small uk-text-center" *ngIf="fields?.length === 0">
        <span>Você não tem campos adicionais cadastradas</span>
    </div>

    <div *ngIf="fields?.length > 0">
        <div class="uk-flex uk-flex-row uk-margin-small-bottom" style="border-bottom: 1px solid #eee;">
            <div class="uk-flex-1 padding">
                <span class="uk-text-uppercase uk-text-small">nome</span>
            </div>
        </div>
    </div>

    <div *ngIf="fields?.length > 0">
        <div class="bank_account" *ngFor="let f of fields">
            <div class="uk-flex-1 padding">
                <span> {{ f?.name }} </span>
            </div>
            <div>
                <a class="btn_border btn_border_blue" (click)="UpdateOpenDialogFields(f.id)" uk-icon="pencil"></a>
                <a class="btn_border btn_border_red" (click)="removeField(f.id)" uk-icon="trash"></a>
            </div>
        </div>
    </div>

</div>