<app-toolbar [menu]="true" (menuEvent)="openMenu($event)">
    <app-logo-main link-type="logo"></app-logo-main>
    <app-button-unit button-type="unit"></app-button-unit>
    <!-- <app-button-language button-type="language"></app-button-language> -->
    <app-button-user button-type="user"></app-button-user>
</app-toolbar>
<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav-left mat-elevation-z5" [mode]="isMobile ? 'over' : 'side'" [opened]="isOpen" (closedStart)="setAsOff()">
        <app-menu-main></app-menu-main>
    </mat-drawer>
    <mat-drawer-content class="sidenav-content mat-elevation-z4" fxLayout="row" fxLayoutAlign="center">
        <div class="page-container" fxLayout="column" fxFlex.gt-md="98%" fxFlex="100%">
            <div class="content">
                <router-outlet></router-outlet>
                <!-- <app-layout-data>
                    <app-header-data name="Processos"></app-header-data>
                    <app-header-form title="title"></app-header-form>
                </app-layout-data> -->
            </div>
            <div class="footer">
                <app-footer-main></app-footer-main>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>