<div fxLayout="row" fxFlexFill fxLayoutAlign="center" *ngIf="!loading" style="padding-top: 25vh;">
    <mat-spinner></mat-spinner>
</div>
<form [formGroup]="form" fxLayout="column" ngStyle.gt-sm="margin: 0px 40px" ngStyle.lt-md="margin: 0px 10px" *ngIf="!!loading" (keydown.enter)="$event.preventDefault()">
    <app-header-form title="Cadastrar Release Notes"></app-header-form>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="50%">
            <mat-form-field fxFlex>
                <input matInput type="text" formControlName="version" placeholder="Versão (v0.0.0)" required minlength="6" maxlength="50">
                <mat-error *ngIf="form.get('version').hasError('required')">Este campo é obrigatório</mat-error>
                <mat-error *ngIf="form.get('version').hasError('minlength')">Formato errado, utilize ao menos 6 dígitos (v0.0.0)</mat-error>
                <mat-error *ngIf="form.get('version').hasError('maxlenght')">Formato errado, utilize ao máximo 50 dígitos</mat-error>
                <mat-error *ngIf="form.get('version').hasError('pattern')">Digite uma versão válida.</mat-error>
            </mat-form-field>
            <div fxLayout="row" *ngFor="let note of formNotes.controls; let i = index" fxLayoutGap="15px">
                <div [formGroup]="note" fxLayout="column" fxLayoutAlign="space-between" fxFlex>
                    <mat-form-field fxFlex>
                        <textarea formControlName="description" matInput placeholder="Nota" maxlength="200"></textarea>
                        <mat-error *ngIf="note.get('description').hasError('required')">Este campo é obrigatório</mat-error>
                        <mat-error *ngIf="note.get('description').hasError('maxlenght')">Utilize ao máximo 200 dígitos</mat-error>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <mat-slide-toggle color="warn" formControlName="isBug">Bug?</mat-slide-toggle>
                        <div>
                            <button mat-icon-button type="button" *ngIf="formNotes.controls.length > 1 || i !== 0" (click)="removeNote(i)">
                                  <mat-icon aria-label="Remover nota">close</mat-icon></button>
                            <button fxAlignFlex="end" *ngIf="i + 1 >= formNotes.controls.length" mat-icon-button type="button" color="primary" (click)="addNote()">
                                  <mat-icon aria-label="Adicionar nota">add</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="row" ngStyle.gt-sm="margin-top: 60px" fxLayoutAlign="space-between">
                <a mat-button routerLink="/notas-da-versao">CANCELAR</a>
                <button mat-raised-button type="submit" (click)="saveReleaseNotes()" color="primary">SALVAR</button>
            </div>
        </div>
    </div>
</form>