<form [formGroup]="formCoupon">

    <div class="contianer-input">
        <div class="uk-flex-1" *ngIf="coupons?.length > 0">
            <div class="items" *ngFor="let coupon of coupons;let i = index">
                <div class="uk-flex uk-flex-row uk-flex-middle">
                    <div class="uk-flex-1">
                        <span class="uk-text-large">
                            {{ coupon.name }}
                        </span>
                        <span class="uk-display-block uk-text-small">
                            Porcentagem de desconto: {{ coupon.percentage }}%
                        </span>
                        <span class="uk-display-block uk-text-small">
                            Limite de uso: {{ coupon.usageLimit }}
                        </span>
                    </div>
                    <div>
                        <a uk-icon="trash" (click)="removeCoupon(i)"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="msgWarning uk-flex-1 uk-flex uk-flex-row uk-flex-middle uk-flex-center"
            *ngIf="coupons?.length == 0">
            Você não tem cupons cadastrados
        </div>

        <div class="coupon-form">

            <mat-form-field appearance="outline" class="uk-width-1">
                <mat-label>Nome</mat-label>
                <input type="text" matInput placeholder="Nome" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="uk-width-1">
                <mat-label>Porcentagem de desconto</mat-label>
                <input type="number" matInput min="1" placeholder="Porcentagem de desconto"
                    formControlName="percentage">
            </mat-form-field>

            <mat-form-field appearance="outline" class="uk-width-1">
                <mat-label>Limite de uso</mat-label>
                <input type="number" matInput min="1" placeholder="Limite de uso" formControlName="usageLimit">
            </mat-form-field>

            <div class="uk-text-right">
                <button mat-flat-button color="primary" [disabled]="!formCoupon.valid" (click)="addCoupon()">
                    Criar Cupom
                </button>
            </div>

        </div>
    </div>

    <button mat-flat-button matStepperNext color="primary">
        Continuar
    </button>

</form>