<div class="page-container">
    <div fxLayoutAlign="center">
        <div fxFlex.gt-sm="95%" fxFlex="97%" class="conteiner">
            <mat-divider></mat-divider>
            <div fxFlex>
                <div class="header">
                    <div class="header">
                        <mat-list>
                            <mat-list-item>
                                <h3 matLine fxLayout="row" fxLayoutAlign="start center">
                                    <span fxFlex="30%">Aluno</span>
                                    <span fxFlex="20%" fxHide.lt-sm>Escola</span>
                                    <span fxFlex="15%" fxHide.lt-sm>Protocolo</span>
                                    <span fxFlex="15%" fxHide.lt-sm>Data da matrícula</span>
                                    <span fxFlex="20%" fxHide.lt-sm>Status</span>
                                </h3>
                            </mat-list-item>
                        </mat-list>
                        <mat-divider></mat-divider>
                    </div>
                    <div layout="column" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [scrollWindow]="false">
                        <div *ngFor="let process of (processes$ | async); index as i">
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-description fxLayout="row" fxFlex>
                                        <p fxFlex="30%" style="white-space: nowrap;">
                                            {{ process.nameStudent }}
                                        </p>
                                        <p fxFlex="20%" fxHide.lt-sm>
                                            {{ process.school.name }}
                                        </p>
                                        <p fxFlex="15%" fxHide.lt-sm>
                                            {{ process.protocol }}
                                        </p>
                                        <p fxFlex="15%" fxHide.lt-sm>
                                            {{ process.dateRegistration | date: 'dd/MM/yyyy' }}
                                        </p>
                                        <p fxFlex="20%" fxHide.lt-sm>
                                            {{ process.status.name }}
                                        </p>
                                        <p fxFlex="1%" fxFlex.lt-md="3%">
                                            <mat-icon *ngIf="process.status.id === 3 && process.hasUploads" style="color:#76d275">attachment</mat-icon>
                                        </p>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <mat-list>
                                    <div fxLayout="row" fxHide.gt-xs fxLayoutAlign="space-between">
                                        <span class="text-bold" class="details-title">
                    <b>Protocolo:</b> {{ process.protocol }}</span>
                                    </div>
                                    <div fxLayout="row" fxHide.gt-xs fxLayoutAlign="space-between">
                                        <span class="text-bold" class="details-title">
                    <b>Escola:</b> {{ process.school.name }}</span>
                                    </div>
                                    <div fxLayout="row" fxHide.gt-xs fxLayoutAlign="space-between">
                                        <span class="text-bold" class="details-title">
                    <b>Status:</b> {{ process.status.name }}</span>
                                    </div>
                                    <div fxLayout="row" fxHide.gt-xs fxLayoutAlign="space-between">
                                        <span *ngIf="process.dateRegistration != null && (process.status.id == 5 || process.status.id ==6)" class="text-bold" class="details-title">
                    <b>Matrícula até:
                    </b> {{ process.dateRegistration | date: 'dd/MM/yyyy' }}</span>
                                    </div>
                                    <div *ngIf="process.pendency != null && process.status.id == 3" class="text-bold" class="details-title">
                                        <app-student-process-data-pendency [process]="process"></app-student-process-data-pendency>
                                    </div>
                                    <div *ngIf="process.motiveReject != null && (process.status.id == 7)" class="text-bold" class="details-title">
                                        <b>{{ process.motiveReject }}: </b>
                                        <div class="style-text">{{ getMotiveToReject(process.motiveReject) }}</div>
                                    </div>
                                </mat-list>
                            </mat-expansion-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>