.mat-radio-button {
    margin: 5px 16px;
}

.text-bold {
    font-weight: bold;
}

#whatsapp {
    visibility: hidden;
}

input#whatsapp::after {
    visibility: visible;
    background: url('../../../../../../assets/img/icons/whatsapp_off.svg') no-repeat;
    color: red;
    background: green;
    padding: 8px;
}

input#whatsapp:checked::after {
    content: " T ";
    color: green;
    background: red;
}

.title {
    color: gray;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.text-bold {
    font-weight: bold;
}