.logo-adven {
    margin-left: 20px;
    text-decoration: none;
}

.logo-adven div {
    color: white;
}

.click:hover {
    cursor: pointer;
}

.img-logo {
    width: 30px;
    height: 30px;
}

.margin-left-10 {
    margin-left: 10px;
}