<mat-sidenav fxLayout="column" #sidenavRight mode="side" align="end" class="sidenav-right mat-elevation-z4" (keydown.esc)="closeSidenav()" [class.mat-drawer-opened]="sidenavRight.opened" [class.mat-drawer-closed]="!sidenavRight.opened">
    <button mat-icon-button type="button" matTooltip="Fechar" (click)="closeSidenav()">
        <mat-icon>clear</mat-icon>
    </button>
    <div>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav>
<div [formGroup]="formDashboard">
    <mat-form-field>
        <mat-select placeholder="Escola" formControlName="school" required [(ngModel)]="scholarshipService.schoolSelected" [compareWith]="compareIds">
            <mat-option *ngIf="authService.getCurrentUser().idSchool == 0" [value]="-1">[Todas]</mat-option>
            <mat-option *ngFor="let s of schools" [value]="s.id">
                ({{ s.id }}) {{ s.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-grid-list cols="{{ columns }}" rowHeight="2:1" (window:resize)="onResize($event)">
        <mat-grid-tile>
            <mat-card class="process process-1" style="color: #0f0f0f">
                <br/>
                <p class="process-count">10</p>
                <p class="process-description">Processos</p>
                <br/>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="process process-2">
                <br/>
                <p class="process-count process-2">1</p>
                <p class="process-description">Aguardando Início (10%)</p>
                <br/>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="process process-3">
                <br/>
                <p class="process-count process-3">1</p>
                <p class="process-description">Em Análise (10%)</p>
                <br/>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="process process-4">
                <br/>
                <p class="process-count process-4">1</p>
                <p class="process-description">Pendência (10%)</p>
                <br/>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="process process-5">
                <br/>
                <p class="process-count process-5">1</p>
                <p class="process-description">Aguardando vaga (10%)</p>
                <br/>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="process process-6">
                <br/>
                <p class="process-count process-6">1</p>
                <p class="process-description">Vaga Liberada - 50% (10%)</p>
                <br/>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="process process-7">
                <br/>
                <p class="process-count process-7">1</p>
                <p class="process-description">Vaga Liberada - 100% (10%)</p>
                <br/>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="process process-8">
                <br/>
                <p class="process-count process-8">4</p>
                <p class="process-description">Indeferido (40%)</p>
                <br/>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <br/>
    <br/>
</div>