<div [formGroup]="formDashboard">
<mat-form-field>                         
    <mat-select placeholder="Escola" formControlName="school" required [(ngModel)]="school">
        <mat-option *ngIf="authService.getCurrentUser().idSchool == 0" value="-1">[Todas]</mat-option>
        <mat-option *ngFor="let s of schools" [value]="s.id">
            ({{ s.id }}) {{ s.name }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-grid-list cols="{{ columns }}" rowHeight="2:1" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <mat-card  class="process process-total">
      <br/>
      <p class="process-count process-total">10</p>
      <p class="process-description">Processos</p>
      <br/>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card  class="process process-analyse">
      <br/>
      <p class="process-count process-analyse">2</p>
      <p class="process-description">Em Análise (20%)</p>
      <br/>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card  class="process process-pendency">
      <br/>
      <p class="process-count process-pendency">3</p>
      <p class="process-description">Pendência (30%)</p>
      <br/>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card  class="process process-waiting">
      <br/>
      <p class="process-count process-waiting">3</p>
      <p class="process-description">Aguardando vaga (30%)</p>
      <br/>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card  class="process process-rejected">
      <br/>
      <p class="process-count process-rejected">2</p>
      <p class="process-description">Indeferido (20%)</p>
      <br/>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<br/>
<br/>
</div>