<div class="container">

    <div class="uk-text-center uk-margin-medium-top header">
        <span class="uk-text-large uk-display-block uk-text-uppercase"> {{ association }} </span>
        <span class="uk-text-uppercase uk-margin-small-top uk-text-small"> Próximos eventos </span>
    </div>

    <div class="uk-margin-medium-top">

        <a class="card-events" *ngFor="let c of events" [routerLink]="[c.id]">
            <div class="uk-padding-small">
                <div class="uk-text-center">
                    <span class="uk-text-large"> {{ c?.name }} </span>
                </div>

                <div class="uk-margin-small-top">
                    <span class="uk-text-uppercase uk-text-small uk-text-muted">Data de inscrição</span>
                    <span class="uk-flex uk-flex-row uk-flex-middle">
                        <i uk-icon="calendar" class="uk-margin-small-right"></i>
                        <span class="uk-margin-small-right uk-text-small">
                            {{ c?.registrationDateBegin | date:'dd/MM/yyyy hh:mm' }} -
                            {{ c?.registrationDateEnd | date:'dd/MM/yyyy hh:mm' }}
                        </span>
                    </span>
                </div>

                <div class="uk-margin-small-top">
                    <span class="uk-text-uppercase uk-text-small uk-text-muted">Data do evento</span>
                    <span class="uk-flex uk-flex-row uk-flex-middle">
                        <i uk-icon="calendar" class="uk-margin-small-right"></i>
                        <span class="uk-margin-small-right uk-text-small">
                            {{ c?.realizationDateBegin | date:'dd/MM/yyyy hh:mm' }} -
                            {{ c?.realizationDateBegin | date:'dd/MM/yyyy hh:mm' }}
                        </span>
                    </span>
                </div>

                <div class="uk-margin-small-top">
                    <span class="uk-text-uppercase uk-text-small uk-text-muted">Data do evento</span>
                    <span class="uk-flex uk-flex-row uk-flex-middle">
                        <i uk-icon="location" class="uk-margin-small-right"></i>
                        <span class="uk-margin-small-right uk-text-small">
                            {{ c?.street }} - {{ c?.number }} -
                            {{ c?.neighborhood }} - {{ c?.city }}
                        </span>
                    </span>
                </div>

            </div>

            <div>
                <button class="btn_register">Increver</button>
            </div>
        </a>


    </div>


</div>