<div class="page-container mat-elevation-z2" fxFlex style="overflow: auto;">
  <div style="padding: 0 0 0 15px">
    <mat-form-field>
      <mat-select placeholder="Analista">
        <mat-option (click)="filter(0)">
          TODOS
        </mat-option>
        <mat-option *ngFor="let analyst of users" [value]="analyst.id" (click)="filter(analyst.id)">
          {{ analyst.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayout.xs="column">
    <div class="process process-3" routerLink="/tesouraria/distritos">
      <br/>
      <p class="process-count process-3">{{cardDistrictsData}}</p>
      <p class="process-description">Distritos</p>
      <br/>
    </div>
    <div class="process process-2" routerLink="/tesouraria/igrejas">
      <br/>
      <p class="process-count process-2">{{cardChurchesData}}</p>
      <p class="process-description">Igrejas</p>
      <br/>
    </div>
  </div>
  <br>
  <br>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div *ngIf="checkEmpty(chartTreasurersData)">
      <h4 fxLayoutAlign="center center">Tesoureiros</h4>
      <div class="wrapper" routerLink="/tesouraria/tesoureiros">
        <div class="text">{{chartTreasurersTotal}}</div>
        <canvas style="width: 400px!important" fxLayoutAlign="center center" baseChart [data]="chartTreasurersData" [labels]="chartTreasurersLabels"
          chartType="doughnut" [options]="pieChartOptions" [colors]="chartColors"></canvas>
      </div>
    </div>

    <div *ngIf="checkEmpty(chartObservationData)">
      <h4 fxLayoutAlign="center center">Observações</h4>
      <div class="wrapper" routerLink="/tesouraria/observacoes">
        <div class="text">{{chartObservationTotal}}</div>
        <canvas style="width: 400px!important" fxLayoutAlign="center center" baseChart [data]="chartObservationData" [labels]="chartObservationLabels"
          chartType="doughnut" [options]="pieChartOptions" [colors]="chartColors"></canvas>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div fxLayout="row" fxLayoutAlign="center center">
    <div *ngIf="checkEmpty(chartAvaliationsData)">
      <h4 fxLayoutAlign="center center">Ranking de maiores notas</h4>
      <div class="wrapper">
        <canvas  (click)="openDialog()" baseChart [datasets]="chartAvaliationsData" [labels]="chartAvaliationsLabels" [legend]="false" [options]="barChartOptions" [colors]="chartColors" chartType="bar" style="width: 500px!important"
          fxLayoutAlign="center center"></canvas>
      </div>
    </div>
  </div>
</div>