<mat-accordion>
    <mat-expansion-panel *ngIf="typePayment === 1 || typePayment === 2">
        <mat-expansion-panel-header>
            <mat-panel-title (click)="getMethodPayment(2)">
                <mat-radio-button value="2" class="uk-width-1">Boleto</mat-radio-button>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <form [formGroup]="formBillet" class="uk-margin-small-top">
                <mat-form-field appearance="outline" class="uk-width-1">
                    <mat-label>CEP</mat-label>
                    <input type="text" mask="00000-000" (blur)="getCep()" matInput placeholder="CEP"
                        formControlName="postalCode">
                </mat-form-field>

                <mat-form-field appearance="outline" class="uk-width-1">
                    <mat-label>Stado</mat-label>
                    <input type="text" matInput placeholder="Stado" formControlName="state">
                </mat-form-field>

                <mat-form-field appearance="outline" class="uk-width-1">
                    <mat-label>Cidade</mat-label>
                    <input type="text" matInput placeholder="Cidade" formControlName="city">
                </mat-form-field>

                <mat-form-field appearance="outline" class="uk-width-1">
                    <mat-label>Barrio</mat-label>
                    <input type="text" matInput placeholder="Barrio" formControlName="neighborhood">
                </mat-form-field>

                <mat-form-field appearance="outline" class="uk-width-1">
                    <mat-label>Rua</mat-label>
                    <input type="text" matInput placeholder="Rua" formControlName="address">
                </mat-form-field>

                <mat-form-field appearance="outline" class="uk-width-1">
                    <mat-label>Numero</mat-label>
                    <input type="text" matInput placeholder="Numero" formControlName="number">
                </mat-form-field>

            </form>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="typePayment === 1 || typePayment === 4">
        <mat-expansion-panel-header>
            <mat-panel-title (click)="getMethodPayment(4)">
                <mat-radio-button value="4" class="uk-width-1">Cartão de Credito</mat-radio-button>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <form [formGroup]="formcreditCard">

                <mat-form-field appearance="outline" class="uk-width-1">
                    <mat-label>Nome</mat-label>
                    <input type="text" matInput placeholder="Nome" formControlName="holder">
                </mat-form-field>

                <mat-form-field appearance="outline" class="uk-width-1">
                    <mat-label>Numero</mat-label>
                    <div class="uk-flex uk-flex-row uk-flex-middle">
                        <div class="uk-flex-1">
                            <input type="text" mask="0000 0000 0000 0000" maxlength="19" matInput placeholder="Numero"
                                (input)="selectCardBrand($event.target.value)" formControlName="cardNumber">
                        </div>
                        <div>
                            <img *ngIf="cardFlag === 'elo'" class="icon_card" src="../../../../../assets/cards/elo.svg"
                                alt="">
                            <img *ngIf="cardFlag === 'master'" class="icon_card"
                                src="../../../../../assets/cards/mastercard.svg" alt="">
                            <img *ngIf="cardFlag === 'visa'" class="icon_card"
                                src="../../../../../assets/cards/visa.svg.svg" alt="">
                        </div>
                    </div>


                </mat-form-field>

                <mat-form-field appearance="outline" class="uk-width-1">
                    <mat-label>Data de expiração</mat-label>
                    <input type="text" mask="00/00" matInput maxlength="7" placeholder="03/27"
                        formControlName="expirationDate">
                </mat-form-field>

                <mat-form-field appearance="outline" class="uk-width-1">
                    <mat-label>CCV</mat-label>
                    <input type="text" minlength="3" maxlength="3" matInput placeholder="CCV"
                        formControlName="securityCode">
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="uk-width-1" *ngIf="fields[i]?.fieldTypeId === 3">
                    <mat-label> Parcelamento </mat-label>
                    <mat-select [formControlName]="fields[i].name">
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field> -->


            </form>
        </div>
    </mat-expansion-panel>
</mat-accordion>