<div class="main_header">
    <div class="container">

        <div class="uk-flex uk-flex-row uk-flex-middle" style="height:50px">
            <div class="uk-flex-1">
                <a routerLink="/">
                    <img class="logo" src="../../../assets/img/adventech-white.png" alt="">
                </a>
            </div>

            <app-apps></app-apps>
            <app-profile></app-profile>
        </div>
    </div>
</div>

<div class="uk-padding-large uk-text-center">
    <span class="uk-text-large">Bem-vindo ao sistema do adventech</span>
</div>