@import '~@angular/material/theming';
@include mat-core();

$app-primary: (50: #e4ebef,
  100: #bacdd8,
  200: #8dacbe,
  300: #5f8aa4,
  400: #3c7191,
  500: #1a587d,
  600: #175075,
  700: #13476a,
  800: #0f3d60,
  900: #082d4d,
  A100: #82bdff,
  A200: #4fa3ff,
  A400: #1c88ff,
  A700: #037aff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff));

$app-accent: (50: #e6e7e9,
  100: #c0c3c7,
  200: #969ba2,
  300: #6c727c,
  400: #4d5460,
  500: #2d3644,
  600: #28303e,
  700: #222935,
  800: #1c222d,
  900: #11161f,
  A100: #629bff,
  A200: #2f7aff,
  A400: #005bfb,
  A700: #0052e1,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff));

$app-danger: (50: #fee8e7,
  100: #fcc7c3,
  200: #faa19b,
  300: #f77b72,
  400: #f65f54,
  500: #f44336,
  600: #f33d30,
  700: #f13429,
  800: #ef2c22,
  900: #ec1e16,
  A100: #ffffff,
  A200: #ffe9e9,
  A400: #ffb8b6,
  A700: #ff9f9c,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000));

$app-theme-primary: mat-palette($app-primary);
$app-theme-accent: mat-palette($app-accent);
$app-theme-warn: mat-palette($app-danger);

$app-theme: mat-light-theme($app-theme-primary, $app-theme-accent, $app-theme-warn);

@include angular-material-theme($app-theme);
