<div>
    <button mat-icon-button class="uk-text-white"
        uk-toggle="target: .apps; animation: uk-animation-fade; queued: true; duration: 300">
        <mat-icon>apps</mat-icon>
    </button>

    <div class="apps card_app" hidden>

        <div>

            <a href="http://localhost:4302" target="_blanck" class="card_apps">
                <i uk-icon="icon:calendar;ratio:2"></i>
                <span class="uk-text-small">Eventos</span>
            </a>

        </div>

    </div>
</div>